mixin type(word)
  article.main-card: a(href=`/${word.toLowerCase().split(' ').join('-')}.html`)
    .main-card__image
      img(src=`/img/${word.toLowerCase().split(' ').join('-')}.jpg`, alt= word).card-img
    .main-card__content
      h2.main-card__name= word