.main-vocabulary {
  margin-right: var(--gutter);
  margin-left: var(--gutter);
}

.note {
  font-size: var(--litte-big);
  margin: 1rem;
  margin-top: 2rem;
  color: #fff;

  span {
    font-weight: bold;
  }

  a {
    color: var(--third-color);

    &:hover {
      text-decoration: underline;
    }
  }
}

.practice-title {
  text-align: center;
  margin-top: 0.8rem;
  color: #fff;
}

.practice-translate {
  display: flex;
  // grid-template-columns: auto auto;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.7rem;

  @include from(640) {
    gap: 2rem;
  }

  button {
    // padding: 0.4rem 1rem;
    padding-bottom: 0.1rem;
    cursor: pointer;
    background-color: transparent;
    font-size: var(--base);
    color: #fff;
    outline: none;
    border: none;
    border-bottom: 1px solid currentColor;
    // border-color: var(--secondary-color);
    letter-spacing: 1px;
    transition: all 0.3s;

    &:hover {
      color: var(--secondary-color);
      // background-color: darken($secondary-color, 0);
    }
  }
}

.container-table {
  --bg-color: hsla(241, 100%, 50%, 0.7);

  margin: 0 auto;
  margin-top: 1rem;
  max-width: 90%;
  table-layout: fixed;
  text-align: center;
  margin-bottom: var(--gutter);
  font-size: var(--little-big);

  @include from(640) {
    width: 35rem;
  }

  th,
  td {
    width: 50%;
    word-break: break-word;

    @include to(640) {
      font-size: 13px;
    }
  }

  &__type {
    background-color: var(--third-color);
  }

  &__word {
    --bg-color: hsla(120, 11%, 4%, 0.7);

    color: hsl(0, 0, 100);
    font-size: var(--little-big);
    background-color: var(--bg-color);
    transition: all 0.5s;

    &:hover {
      --bg-color: hsla(120, 11%, 4%, 1);
    }
  }

  &__title-eng,
  &__title-es {
    padding: 0.3em;
    color: color(medium-white);
  }
}

.analyze {
  $dimension: 35px;
  $distance: $dimension + 5px;

  cursor: pointer;
  position: absolute;
  top: 0;
  left: -$distance;
  display: block;
  width: $dimension;
  height: 100%;

  &.learned {
    background-color: hsl(120, 75%, 51%);
  }

  &.not-learned {
    background-color: hsl(0, 75%, 51%);
  }
}

.eng-word,
.es-word {
  padding: 0.5em;
  transition: all 0.5s;
  cursor: pointer;
}

[class$='-word'] {
  position: relative;
}

.word-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: var(--little-big);
  text-align: center;
  outline: none;
  border: none;
  display: none;

  @include to(640) {
    font-size: 13px;
  }
}

.word-answer {
  position: absolute;
  top: 0;
  right: 0.5rem;
  height: 100%;
  z-index: 2000;
  display: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.container-focused {
  background-color: var(--secondary-color);
}

.show-input {
  display: block;
}

.add-focus-error:focus {
  background-color: var(--wrong);
}
