.u-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    background: url('/assets/sound.png') no-repeat;
    width: 3rem;
    height: 3rem;
    z-index: 3;
  }
}

.u-scaleUp {
  background-color: hsla(120, 11%, 4%, 1);
  z-index: 100;
}

.opacity {
  animation: op .8s ease-in-out;

  @keyframes op {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.u-active-table {
  background-color: var(--secondary-color);
}