extends templates/template.pug

append config
  -pageTitle = 'Adjectives'

block main
  include blocks/table.pug
    +word('Correcto', 'Right')
    +word('Incorrecto, equivocado', 'Wrong')
    +word('Bien', 'Fine')
    +word('Hermoso', 'Beautiful')
    +word('Bonito', 'Pretty')
    +word('Diminuto', 'Tiny')
    +word('Grande', 'Large')
    +word('Cansado', 'Tired')
    +word('Aburrido', 'Bored')
    +word('Motivado', 'Motivated')
    +word('Ocupado', 'Busy')
    +word('Ventoso', 'Windy')
    +word('Nublado', 'Cloudy')
    +word('Ventoso', 'Windy')
    +word('Motivado', 'Motivated')
    +word('Varios', 'Several')
    +word('Poderoso', 'Powerful')
    +word('Adorable', 'Adorable')
    +word('Limpio', 'Clean')
    +word('Apagado', 'Drab')
    +word('Elegante', 'Elegant')
    +word('Sofisticado', 'Fancy')
    +word('Glamoroso', 'Glamorous')
    +word('Guapo', 'Handsome')
    +word('Magnífico', 'Magnificent')
    +word('Anticuado', 'Old-fashioned')
    +word('Sencillo, sobrio', 'Plain')
    +word('Pintoresco', 'Quaint')
    +word('Destellante', 'Sparkling')
    +word('Antiestético', 'Unsightly')
    +word('Despampanante', 'Gorgeous')
    +word('Estético', 'Aesthetic')
    +word('Buen, bueno', 'Good')
    +word('Mal, malo', 'Bad')
    +word('Gran, grande', 'Big')
    +word('Pequeño', 'Small')
    +word('Fácil', 'Easy')
    +word('Difícil', 'Difficult')
    +word('Simple', 'Simple')
    +word('Complejo', 'Complex')
    +word('Alto (estatura)', 'Tall')
    +word('Bajo (estatura)', 'Short')
    +word('Largo', 'Long')
    +word('Corto', 'Short')
    +word('Alto (altura)', 'High')
    +word('Bajo (altura)', 'Low')
    +word('Rico', 'Rich')
    +word('Pobre', 'Poor')
    +word('Caliente', 'Hot')
    +word('Tibio', 'Warm')
    +word('Frío', 'Cold')
    +word('Fresco', 'Cool')
    +word('Alegre', 'Happy')
    +word('Triste', 'Sad')
    +word('Entretenido', 'Funny')
    +word('Aburrido', 'Boring')
    +word('Gordo', 'Fat')
    +word('Delgado', 'Thin')
    +word('Esbelto', 'Slim')
    +word('Fuerte', 'Strong')
    +word('Débil', 'Weak')
    +word('Simpático', 'Kind')
    +word('Antipático', 'Unpleasant')
    +word('Enfadado', 'Angry')
    +word('Emocionado', 'Excited')
    +word('Atractivo', 'Attractive')
    +word('Feo', 'Ugly')
    +word('Sincero', 'Sincere')
    +word('Nervioso', 'Nervous')
    +word('Calvo', 'Bold')
    +word('Tímido', 'Shy')
    +word('Ancho', 'Wide')
    +word('Estrecho', 'Narrow')
    +word('Enfermo', 'Sick, ill')
    +word('Claro', 'Light')
    +word('Oscuro', 'Dark')
    +word('Abierto', 'Opened')
    +word('Cerrado', 'Closed')
    +word('Descalzo', 'Barefoot')
    +word('Enorme', 'Huge')
    +word('Cuadrado', 'Square')
    +word('Redondo', 'Round')
    +word('Deprimido', 'Depressed')
    +word('Generoso', 'Generous')
    +word('Egoísta', 'Selfish')
    +word('Ordenado', 'Tidy')
    +word('Desordenado', 'Untidy')
    +word('Ovalado', 'Oval')
    +word('Tranquilo', 'Quiet')
    +word('Intranquilo', 'Restless')
    +word('Preocupado', 'Worried')
    +word('Asombroso', 'Amazing')
    +word('Sorprendente', 'Astonishing')
    +word('Deslumbrante', 'Stunning')
    +word('Maravilloso', 'Wonderful')
    +word('Increíble', 'Incredible')
    +word('Terrorífico', 'Horrific')
    +word('Grandioso', 'Impressive')
    +word('Imprescindible', 'Essential')
    +word('Fabuloso', 'Fabulous')
    +word('Desconcertante', 'Disconcerting')
    +word('Correcto', 'Correct')
    +word('Incorrecto', 'Incorrect')
    +word('Equivocado, errado', 'Mistaken')
    +word('Preciso', 'Precise')
    +word('Necesario', 'Necessary')
    +word('Impreciso', 'Imprecise')
    +word('Caro', 'Expensive')
    +word('Barato', 'Cheap')