extends templates/template.pug

append config
  -pageTitle = 'Business'

block main
  include blocks/table.pug
    +word('Acuerdo', 'Agreement')
    +word('Autofinanciar', 'Self-finance')
    +word('Bienes de consumo', 'Consumer goods')
    +word('Bolsa de comercio', 'Stock exchange')
    +word('Capiptal', 'Capital')
    +word('Comercialización', 'Marketing')
    +word('Comerciante', 'Merchant')
    +word('Comercio', 'Commerce, trade')
    +word('Competencia', 'Competition')
    +word('Compra', 'Purchase')
    +word('Comprador(a)', 'Buyer')
    +word('Consumidor(a)', 'Consumer')
    +word('Cotización', 'Quotation')
    +word('Deflación', 'Deflation')
    +word('Demanda', 'Demand')
    +word('Descuento', 'Discount')
    +word('Dinero suelto, cambio', 'Change')
    +word('Economía', 'Economy')
    +word('Economista', 'Economist')
    +word('Empresario(a)', 'Entrepreneur')
    +word('Exportar', 'Export')
    +word('Fabricante', 'Manufacturer')
    +word('Ganancias', 'Profit')
    +word('Ganancias brutas', 'Gross profit')
    +word('Ganancias netas', 'Net profit')
    +word('Gastos', 'Expenses, expenditure')
    +word('Gastos fijos', 'Fixed costs')
    +word('Gastos generales', 'Overhead expenses')
    +word('Importar', 'Import')
    +word('Impuesto', 'Duty, tax')
    +word('Impuesto sobre la renta', 'Income tax')
    +word('Ingresos, renta', 'Income')
    +word('Inventario', 'Inventory')
    +word('Inversión', 'Investment')
    +word('Inversionista', 'Investor')
    +word('Libre de impuesto', 'Tax-free')
    +word('Marca registrada', 'Trademark')
    +word('Margen de beneficio', 'Profit margin')
    +word('Mayorista', 'Wholesaler')
    +word('Mercado', 'Market')
    +word('Mercado libre', 'Free market')
    +word('Mercado negro', 'Black market')
    +word('Minorista', 'Retailer')
    +word('Monopolio', 'Monopoly')
    +word('Oferta', 'Offer')
    +word('Pagar en efectivo', 'To pay in cash')
    +word('Poder adquisitivo', 'Purchasing power, buying power')
    +word('Precio', 'Price')
    +word('Precio al por mayor', 'Wholesale price')
    +word('Precio al por menor', 'Retail price')
    +word('Precio al por menor', `Factory price, manufacturer's price`)
    +word('Precio de fábrica', `manufacturer's price`)
    +word('Precio fijo', `Fixed price`)
    +word('Prestamista', `Lender`)
    +word('Préstamo, prestar', `Loan`)
    +word('Prestatario', `Borrower`)
    +word('Presupuesto', `Budget`)
    +word('Producción', `Output, production`)
    +word('Saldo', `Balance`)
    +word('Situación económica', `Economic situation`)
    +word('Venta', `Sale`)