extends templates/template.pug

append config
  -pageTitle = 'Construction'

block main
  include blocks/table.pug
    +word('Albañil', 'Bricklayer (UK), Brick mason (USA)')
    +word('Ampliación', 'Extension')
    +word('Andamio de trabajo', 'Work platform')
    +word('Andamio de trabajo', 'Tubular steel scaffold, scaffolding')
    +word('Balcón', 'Balcony')
    +word('Baldosas, azulejos', 'Tiles')
    +word('Barandilla', 'Banister')
    +word('Barraca de la obra', 'Site hut, site office')
    +word('Cañería', 'Pipes')
    +word('Carretilla', 'Wheelbarrow')
    +word('Cizallas de mano', 'Hand shears')
    +word('Construcción', 'Construction')
    +word('Desagüe', 'Drain')
    +word('Dintel', 'Lintel')
    +word('Edificio en construcción', 'Building site (UK), construcción site (USA)')
    +word('En obras', 'Under construction')
    +word('Encofrado', 'Form work, shuttering (UK)')
    +word('Escalera de mano', 'Ladder')
    +word('Escalera de tijera', 'Stepladder')
    +word('Escombros', 'Rubble')
    +word('Excavación', 'Excavation')
    +word('Fachada', 'Facade, front')
    +word('Grúa', 'Crane')
    +word('Herramientas', 'Tools')
    +word('Herramientas de albañil', `Bricklayer's tools (UK), brick mason's tools (USA)`)
    +word('Hormigón', `Cement, concrete`)
    +word('Hormigonera', `Cement mixer, concrete mixer`)
    +word('Construcción de una casa', `House construction`)
    +word('Llana, paleta', `Trowel`)
    +word('Maceta', `Mallet`)
    +word('Manguera', `Hose`)
    +word('Maquinista', `Machine operator`)
    +word('Montacargas', `Freight elevator`)
    +word('Obrero de la construcción', `Construction worker`)
    +word('Pala', `Shovel`)
    +word('Pared, tabique', `Wall`)
    +word('Pared de ladrillos', `Brick wall`)
    +word('Pasarela', `Guard board`)
    +word('Pila de ladrillos', `Stack of bricks`)
    +word('Planta baja', `Ground floor`)
    +word('Primera planta', `First floor`)
    +word('Saco de cemento', `Bag of cement`)
    +word('Tablón', `Plank`)
    +word('Tambor mezclador', `Mixing drum`)
    +word('Techo', `Ceiling, roof`)
    +word('Tierra excavada', `Excavated dirt`)
    +word('Tubo de desagüe', `Drainpipe`)
    +word('Valla, cerca', `Fence`)
    +word('Valla de protección', `Site fence`)
    +word('Yeso', `Plaster`)
    +word('Zanja de cimentación', `Foundation trench`)