extends templates/template.pug

append config
  -pageTitle = 'Food'

block main
  include blocks/table.pug
    +word('Panceta', 'Bacon')
    +word('Papas al horno', 'Baked potatoes')
    +word('Carne vacuna', 'Beef')
    +word('Bistec', 'Beef steak')
    +word('Morcilla', 'Blood sausage')
    +word('Sesos', 'Brains')
    +word('Canelones', 'Canneloni')
    +word('Queso', 'Cheese')
    +word('Hamburguesa de queso', 'Cheeseburger')
    +word('Pollo', 'Chicken')
    +word('Puré de papas', 'Cream potatoes')
    +word('Postre', 'Dessert')
    +word('Papas fritas (de cocina)', 'French fries')
    +word('Pollo frito', 'Fried chicken')
    +word('Ñoquis', 'Gnocchi')
    +word('Carne picada', 'Ground meat')
    +word('Jamón', 'Ham')
    +word('Hamburguesa', 'Hamburger')
    +word('Salchicha', 'Hot dog')
    +word('Riñones', 'Kidneys')
    +word('Cordero', 'Lamb')
    +word('Lasaña', 'Lasagne')
    +word('Hígado', 'Liver')
    +word('Macarrones', 'Macaroni')
    +word('Puré de papas', 'Mashed potatoes')
    +word('Mayonesa', 'Mayonnaise')
    +word('Albóndigas', 'Meatballs')
    +word('Tallarines', 'Noodles')
    +word('Torbilla', 'Omelet')
    +word('Pasta', 'Pasta')
    +word('Pizza', 'Pizza')
    +word('Carne de cerdo', 'Pork')
    +word('Costillas de cerdo', 'Pork chops')
    +word('Papas fritas (en bolsa)', 'Potato chips')
    +word('Ravioles', 'Ravioli')
    +word('Arroz', 'Rice')
    +word('Rosbif', 'Roastbeef')
    +word('Ensalada', 'Salad')
    +word('Salame', 'Salami')
    +word('Salsa', 'Sauce')
    +word('Salchicha, chorizo', 'Sausage')
    +word('Huevos revueltos', 'Scrambled eggs')
    +word('Sopa', 'Soup')
    +word('Espaguetti', 'Spaghetti')
    +word('Bistéc', 'Steak')
    +word('Guiso, estofado', 'Stew')
    +word('Salsa de tomate', 'Tomato sauce')
    +word('Pavo', 'Turkey')
    +word('Carne de ternera', 'Veal')
    +word('Verduras', 'Vegetables')