extends templates/template.pug

append config
  -pageTitle = 'In, On, At'

block main
  include blocks/table.pug
    +word('En (dentro)', 'In')
    +word('En, sobre, encima', 'On')
    +word('En el, en la', 'At')