extends templates/template.pug

append config
  -pageTitle = 'Law'

block main
  include blocks/table.pug
    +word('Cómplice', 'Accessory')
    +word('Absolución', 'Acquittal')
    +word('Coartada', 'Alibi')
    +word('Apelación', 'Appeal')
    +word('Asesinato (de un político)', 'Assassination')
    +word('Agresión', 'Assault')
    +word('Abogado', 'Attorney')
    +word('Fianza', 'Bail')
    +word('Chantaje', 'Blackmail')
    +word('Soborno', 'Bribery')
    +word('Presidiario', 'Convict')
    +word('Corte', 'Court')
    +word('Causa, pleito', 'Court case')
    +word('Orden judicial', 'Court order')
    +word('Delito, crimen', 'Crime')
    +word('Pena de muerte', 'Death penalty')
    +word('Acusado(a)', 'Defendant')
    +word('Evidencia', 'Evidence')
    +word('Delito grave', 'Felony')
    +word('Multa', 'Fine')
    +word('Falsificación', 'Forgery')
    +word('Fraude', 'Fraud')
    +word('Culpable', 'Guilty')
    +word('Rehén', 'Hostage')
    +word('Acusación', 'Indictment')
    +word('Inocente', 'Innocent')
    +word('Cárcel', 'Jail')
    +word('Juez', 'Judge')
    +word('Jurado', 'Jury')
    +word('Abogado', 'Lawyer')
    +word('Cadena perpetua', 'Life setence')
    +word('Delito menor', 'Misdemeanor')
    +word('Asesinato', 'Murder')
    +word('Asesino', 'Murderer')
    +word('No culpable', 'Not guilty')
    +word('Juramento', 'Oath')
    +word('En libertad condicional', 'On parole')
    +word('Prisión, cárcel', 'Prison')
    +word('Prueba', 'Proof')
    +word('Castigo', 'Punishment')
    +word('Robo, asalto', 'Robbery')
    +word('Hurto en tiendas', 'Shoplifting')
    +word('Declaración', 'Statement')
    +word('Corte suprema', 'Supreme court')
    +word('Sospechoso', 'Suspect')
    +word('Testimonio', 'Testimony')
    +word('Robo', 'Theft')
    +word('Ladrón', 'Thief')
    +word('Acusar', 'To accuse')
    +word('Detener', 'To arrest')
    +word('Agredir', 'To assault')
    +word('Ser juzgado', 'To be tried')
    +word('Chantajear', 'To blackmail')
    +word('Sobornar', 'To Bribe')
    +word('Declarar culpable', 'To convict')
    +word('Defender', 'To defend')
    +word('Multar', 'To fine')
    +word('Falsificar', 'To forge')
    +word('Encarcelar', 'To imprison')
    +word('Interrogar', 'To interrogate')
    +word('Secuestrar', 'To kidnap')
    +word('Matar', 'To kill')
    +word('Asesinar', 'To murder')
    +word('Declararse culpable', 'To plead guilty')
    +word('Procesar, enjuiciar', 'To prosecute')
    +word('Robar', 'To rob')
    +word('Juicio', 'Trial')
    +word('Veredicto', 'Veredict')
    +word('Testigo', 'Witness')