extends templates/template.pug

append config
  -pageTitle = 'Mathematics'

block main
  include blocks/table.pug
    +word('Sumar', 'Add')
    +word('Adición', 'Addition')
    +word('Álgebra', 'Algebra')
    +word('Ángulo', 'Angle')
    +word('Promedio', 'Average')
    +word('Eje', 'Axis')
    +word('Cálculo', 'Calculus')
    +word('Número cardinal', 'Cardinal number')
    +word('Circunferencia', 'Circumference')
    +word('Cubo', 'Cube')
    +word('Cilindro', 'Cylinder')
    +word('Decimal', 'Decimal')
    +word('Grado', 'Degree')
    +word('Diámetro', 'Diameter')
    +word('Dimensión', 'Dimension')
    +word('Dividir por / entre', 'Divide')
    +word('Dividido por / entre', 'Divided by')
    +word('División', 'Division')
    +word('Elipse', 'Ellipse')
    +word('Ser, ser igual a', 'Equal')
    +word('Ecuación', 'Equation')
    +word('Estimar', 'Estimate')
    +word('Estimación', 'Estimation')
    +word('Par', 'Even')
    +word('Exponente', 'Exponent')
    +word('Fórmula', 'Formula')
    +word('Fracción', 'Fraction')
    +word('Geometría', 'Geometry')
    +word('Gráfica, representar gráficamente', 'Graph')
    +word('Horizontal', 'Horizontal')
    +word('Infinito', 'Infinite')
    +word('Longitud', 'Length')
    +word('Menos que', 'Less than')
    +word('Límite', 'Limit')
    +word('Línea', 'Line')
    +word('Lineal', 'Linear')
    +word('Logaritmo', 'Logarithm')
    +word('Matemático', 'Mathematician')
    +word('Matemáticas', 'Mathematics, math')
    +word('Promedio', 'Mean')
    +word('Menos', 'Minus')
    +word('Más que', 'More than')
    +word('Multiplicar', 'Multiply')
    +word('Multiplicación', 'Multiplication')
    +word('Impar', 'Odd')
    +word('Porcentaje', 'Percent, percentage')
    +word('Perímetro', 'Perimeter')
    +word('Más', 'Plus')
    +word('Punto', 'Point')
    +word('Probabilidad', 'Probability')
    +word('Raíz', 'Root')
    +word('Rectángulo', 'Rectangle')
    +word('Resolver', 'Solve')
    +word('Esfera', 'Sphere')
    +word('Cuadro, cuadrado', 'Square')
    +word('Raíz cuadrada', 'Square root')
    +word('Restar', 'Subtract')
    +word('Resta, sustracción', 'Subtract')
    +word('Superficie', 'Surface')
    +word('Suma', 'Sum')
    +word('Simetría', 'Symmetry')
    +word('Tabla', 'Table')
    +word('Multiplicado por', 'Times')
    +word('Triángulo', 'Triangle')
    +word('Volumen', 'Volume')