extends templates/template.pug

append config
  -pageTitle = 'Nature'

block main
  include blocks/table.pug
    +word('Rama', 'Branch')
    +word('Arroyo', 'Brook')
    +word('Capullo', 'Bud')
    +word('Bulbo', 'Bulb')
    +word('Arbusto', 'Bush')
    +word('Cactus', 'Cactus')
    +word('Cañon', 'Canyon')
    +word('Acantilado', 'Cliff')
    +word('Costa', 'Coast')
    +word('Riachuelo', 'Creek')
    +word('Margarita', 'Daisy')
    +word('Desierto', 'Desert')
    +word('Helecho', 'Fern')
    +word('Bosque, selva', 'Forest')
    +word('Glaciar', 'Glacier')
    +word('Golfo', 'Gulf')
    +word('Cerro, colina', 'Hill')
    +word('Iceberg', 'Iceberg')
    +word('Isla', 'Island')
    +word('Hiedra', 'Ivy')
    +word('Laguna', 'Lagoon')
    +word('Lago', 'Lake')
    +word('Hoja', 'Leaf')
    +word('Hojas', 'Leaves')
    +word('Limonero', 'Lemon tree')
    +word('Pantano', 'Marsh')
    +word('Prado', 'Meadow')
    +word('Montaña', 'Mountain')
    +word('Cordillera', 'Mountain range')
    +word('Océano', 'Ocean')
    +word('Olivo', 'Olive tree')
    +word('Naranjo', 'Orange tree')
    +word('Palmera', 'Palm tree')
    +word('Camino, sendero', 'Path')
    +word('Cima, cumbre', 'Peak')
    +word('Península', 'Peninsula')
    +word('Pétalo', 'Petal')
    +word('Pino', 'Pine')
    +word('Llanura', 'Plain')
    +word('Meseta', 'Plateau')
    +word('Estanque', 'Pond')
    +word('Rápidos', 'Rapids')
    +word('Arrecife', 'Reef')
    +word('Embalse', 'Reservoir')
    +word('Río', 'River')
    +word('Raíz', 'Root')
    +word('Rosa', 'Rose')
    +word('Mar', 'Sea')
    +word('Orilla, costa', 'Shore')
    +word('Tallo', 'Stem')
    +word('Arroyo', 'Stream')
    +word('Pantano, ciénaga', 'Swamp')
    +word('Espina', 'Thorn')
    +word('Árbol', 'Tree')
    +word('Tronco', 'Trunk')
    +word('Ramita', 'Twig')
    +word('Valle', 'Valley')
    +word('Parra, vid', 'Vine')
    +word('Violeta', 'Violet')
    +word('Volcán', 'Volcano')
    +word('Catarata', 'Waterfall')
    +word('Malezas', 'Weeds')
    +word('Sauce llorón', 'Weeping willow')