extends templates/template.pug

append config
  -pageTitle = 'Office'

block main
  include blocks/table.pug
    +word('Archivador(a)', 'Filing clerk')
    +word('Archivar, archivo (documento)', 'File')
    +word('Archivo (sitio)', 'Archive')
    +word('Bolígrafo', 'Pen, ballpoint pen')
    +word('Calculadora', 'Calculator')
    +word('Carpeta (papeles, documentos)', 'Folder, file')
    +word('Carta', 'Letter')
    +word('Cinta adhesiva', 'Adhesive tape')
    +word('Contestar el teléfono', 'Answer the phone')
    +word('Contestador automático', 'Answering machine')
    +word('Corrector (líquido)', 'Correcting fluid')
    +word('Correo', 'Mail')
    +word('Documento', 'Document')
    +word('Enviar, echar al correo', 'Post (UK), Mail (US)')
    +word('Enviar un fax', 'Fax')
    +word('Escáner', 'Scanner')
    +word('Escritorio', 'Desk')
    +word('Fax', 'Fax')
    +word('Fichero (mueble)', 'Filing cabinet')
    +word('Fotocopiadora', 'Photocopier, photocopying machine')
    +word('Grapa', 'Staple')
    +word('Grapadora', 'Stapler')
    +word('Hoja', 'Sheet')
    +word('Hoja de cálculo', 'Spreadsheet')
    +word('Impresora', 'Printer')
    +word('Jefe (a)', 'Boss')
    +word('Lápiz', 'Pencil')
    +word('Libreta', 'Notebook')
    +word('Llamar por teléfono', 'Telephone, call')
    +word('Máquina de escribir', 'Typewriter')
    +word('Muebles de oficina', 'Office furniture')
    +word('Oficina, despacho', 'Office')
    +word('Ordernador', 'Computer')
    +word('Papelera', 'Wastepaper basket')
    +word('Pegamento', 'Glue, adhesive')
    +word('Pisapapeles', 'Paperweight')
    +word('Pluma estilográfica', 'Fountain pen')
    +word('Portafolios', 'Briefcase')
    +word('Rotulador', 'Felt-tip pen')
    +word('Secretario (a)', 'Secretary')
    +word('Sello', 'Stamp')
    +word('Sobre (carta)', 'Envelope')
    +word('Sujetapapeles', 'Paper clip')
    +word('Teléfono', 'Telephone, phone')
    +word('Tijeras', 'Scissors')
    +word('Tinta', 'Ink')
    +word('Tomar notas', 'Take notes')
    +word('Trabajo administrativo', 'Paperwork')
    +word('Contratar', 'Employ, hire')
    +word('Despedir', 'Fire')
    +word('Día de paga', 'Payday')
    +word('Horas extraordinarias', 'Overtime')
    +word('Jubilación, retiro', 'Retirement')
    +word('Nómina (de sueldos)', 'Payroll')
    +word('Personal', 'Personnel, staff')
    +word('Salario, sueldo', 'Salary, wage')