extends templates/template.pug

append config
  -pageTitle = 'Personal Pronouns'

block main
  include blocks/table.pug
    +word('Yo', 'I')
    +word('Tú', 'You')
    +word('Él', 'He')
    +word('Ella', 'She')
    +word('(Neutro)', 'It')
    +word('Nosotros (as)', 'We')
    +word('Ustedes (vosotros)', 'You')
    +word('Ellos (as)', 'They')