extends templates/template.pug

append config
  -pageTitle = 'Technology'

block main
  include blocks/table.pug
    +word('Acceder a páginas web', 'To access websites')
    +word('Copia de seguridad', 'To backup files')
    +word('Arrancar (el computador)', 'To boot up')
    +word('Marcar una página web en favoritos', 'To bookmark a webpage')
    +word('Dispositivos con función específica', 'A gadget')
    +word('Navegar sitios web', 'To browse websites')
    +word('Estar en línea', 'To go online')
    +word('Usuario experto', 'A computer buff')
    +word('Pórtatil', 'High-spec (laptop)')
    +word('Parar de funcionar', 'To crash')
    +word('Navegar un sitio web', 'To navigate a website')
    +word('Cortar y pegar', 'To cut and paste')
    +word('Sistema operativo', 'Operating system')
    +word('Computador de escritorio', 'Desktop PC')
    +word('Enviar un archivo conjunto', 'Send an attachment')
    +word('Descargar', 'Download')
    +word('Redes sociales', 'Social media')
    +word('Introducir una dirección web', 'To enter a web address')
    +word('Navegar en la red', 'To surf the web')
    +word('Más funciones de un software', 'To upgrade')
    +word('Moderno, innovador', 'Cutting-edge')
    +word('Lo último en tecnología', 'State-of-the-art')
    +word('Moderno', 'Modern')
    +word('Ahorro de trabajo', 'Labour-saving')
    +word('Avanzado', 'Advanced')
    +word('Alta tecnología', 'High')
    +word('Obsoleto', 'Outdated')