extends templates/template.pug

append config
  -pageTitle = 'Time'

block main
  include blocks/table.pug
    +word('Día', 'Day')
    +word('Mes', 'Month')
    +word('Año bisiesto', 'Leap-year')
    +word('Segundo', 'Second')
    +word('Decisegundo', 'Decisecond')
    +word('Centisegundo', 'Centisecond')
    +word('Milisegundo', 'Milisecond')
    +word('Microsegundo', 'Microsecond')
    +word('Nanosegundo', 'Nanosecond')
    +word('Minuto', 'Minute')
    +word('Hora', 'Hour')
    +word('Semana', 'Week')
    +word('Octavario', 'Octave')
    +word('Docena', 'Dozen')
    +word('Quincena', 'Fortnight')
    +word('Bimestre', 'Bimester')
    +word('Trimestre', 'Trimester')
    +word('Cuatrimestre', 'Quarter')
    +word('Semestre', 'Semester')
    +word('Bienio', 'Biennium')
    +word('Lustro', 'Lustrum')
    +word('Septenio', 'Septennium')
    +word('Siglo', 'Century')
    +word('Milenio', 'Millennium')
    +word('Nueva era', 'New era')