extends templates/template.pug

append config
  -pageTitle = 'Traveling'

block main
  include blocks/table.pug
    +word('Reservar', 'Book')
    +word('Registrarse', 'Check-in')
    +word('Salir de viaje', 'Depart')
    +word('Puerta de embarque', 'Departure gate')
    +word('Llegar', 'Arrive')
    +word('Aeropuerto', 'Airport terminal')
    +word('Reserva', 'Reservation')
    +word('Sala de espera', 'Departure Lounge')
    +word('Destino', 'Destination')
    +word('Despegar', 'Take off')
    +word('Ofertas de último minuto', 'Last minute deals')
    +word('Salir a bordo', 'Board')
    +word('Acampar', 'Camping')
    +word('Punto de seguridad', 'Security checkpoint')
    +word('Chequear pasaporte', 'Passport check')
    +word('Mochilero', 'Backpacking')
    +word('Asiento de pasillo', 'Aisle seat')
    +word('Maleta', 'Suitcase')
    +word('Asiento de ventana', 'Window seat')