extends /includes/template.pug

append config
  -pageTitle = 'Activities'

block main
  include /includes/table.pug
    +word('Surf de vela', 'Kitesurfing')
    +word('Kayak', 'Kayaking')
    +word('Piragüismo', 'Canoeing')
    +word('Escalada de roca', 'Rock climbing')
    +word('Viajar arduamente', 'Trekking')
    +word('Navegar (en velero)', 'Sailing')
    +word('Motociclismo acuático', 'Jetskiing')
    +word('Esquiar', 'Skiing')
    +word('Tabla de vela', 'Windsurfing')
    +word('Esquí acuático', 'Wakeboarding')
    +word('Surf de remo', 'Paddleboarding')
    +word('Natación', 'Swimming')
    +word('Baño de sol', 'Sunbathing')
    +word('Turismo', 'Sightseeing')