extends /includes/template.pug

append config
  -pageTitle = 'Adverbs of Time'

block main
  include /includes/table.pug
    +word('Ahora', 'Now')
    +word('Ayer', 'Yesterday')
    +word('Hoy', 'Today')
    +word('Mañana', 'Tomorrow')
    +word('Esta noche', 'Tonight')
    +word('La próxima semana', 'Next week')
    +word('El próximo mes', 'Next month')
    +word('El próximo año', 'Next Year')
    +word('Anualmente', 'Annually')
    +word('Diariamente', 'Daily')
    +word('Quincenalmente', 'Fortnightly')
    +word('Cada hora', 'Hourly')
    +word('Mensualmente', 'Monthly')
    +word('Cada noche', 'Nightly')
    +word('Trimestralmente', 'Quarterly')
    +word('Semanalmente', 'Weekly')
    +word('Semestralmente', 'Semiannually')
    +word('Anualmente', 'Yearly')
    +word('Siempre', 'Always')
    +word('Constantemente', 'Constantly')
    +word('Siempre, Algunas veces', 'Ever')
    +word('Frecuentemente', 'Frequently')
    +word('Generalmente', 'Generally')
    +word('Infrecuentemente', 'Infrequently')
    +word('Nunca', 'Never')
    +word('Normalmente', 'Normally')
    +word('Ocasionalmente', 'Occasionally')
    +word('A menudo', 'Often')
    +word('Raramente', 'Rarely')
    +word('Regularmente', 'Regularly')
    +word('Raramente', 'Seldom')
    +word('Algunas veces', 'Sometimes')
    +word('Usualmente', 'Usually')