extends /includes/template.pug

append config
  -pageTitle = 'Adverbs of Manner'

block main
  include /includes/table.pug
    +word('Lentamente', 'Slowly')
    +word('Fácilmente', 'Easily')
    +word('Cuidadosamente', 'Carefully')
    +word('Simplemente', 'Simply')
    +word('Felizmente', 'Happily')
    +word('Naturalmente', 'Naturally')
    +word('Bien', 'Well')
    +word('Malamente', 'Badly')
    +word('Separadamente', 'Separately')
    +word('Descuidadamente', 'Carelessly')
    +word('Ruidosamente', 'Loudly')
    +word('Silenciosamente, tranquilamente', 'Quietly')
    +word('De repente', 'Suddenly')
    +word('Realmente', 'Really')
    +word('Juntos', 'Together')
    +word('Exitosamente', 'Successfully')
    +word('En realidad, de hecho', 'Actually')
    +word('De mala gana', 'Reluctantly')
    +word('Intencionalmente', 'Intentionally')
    +word('Accidentalmente', 'Accidentally')