extends /includes/template.pug

append config
  -pageTitle = 'Adverbs of Place'

block main
  include /includes/table.pug
    +word('Aquí, acá', 'Here')
    +word('Allá, allí, ahí', 'There')
    +word('Por aquí', 'Over here')
    +word('Por allá', 'Over there')
    +word('Justo aquí', 'Right here')
    +word('Justo allá', 'Right there')
    +word('Aquí arriba', 'Up here')
    +word('Allá arriba', 'Up there')
    +word('Aquí abajo', 'Down here')
    +word('Allá abajo', 'Down there')
    +word('Cerca', 'Near')
    +word('Cerca', 'Nearby')
    +word('Lejos', 'Far')
    +word('Lejos', 'Away')
    +word('(estar) en casa', 'Home')
    +word('En el extranjero', 'Abroad')
    +word('En el extranjero', 'Overseas')
    +word('Fuera, afuera', 'Out')
    +word('Dentro, adentro', 'Inside')
    +word('Afuera', 'Outside')
    +word('Encima', 'Above')
    +word('Debajo', 'Underneath')
    +word('Debajo', 'Beneath')
    +word('Adelante', 'Ahead')
    +word('Atrás, detrás', 'Behind')
    +word('Al frente', 'In front of')
    +word('Al frente', 'Opposite')
    +word('Alrededor', 'Around')
    +word('Más allá', 'Beyond')
    +word('Encima', 'Over')
    +word('Atrás', 'Back')
    +word('Por todas partes', 'All over')
    +word('Por todas partes', 'All over the place')