extends /includes/template.pug

append config
  -pageTitle = 'Agriculture'

block main
  include /includes/table.pug
    +word('Acre', 'Acre')
    +word('Agricultura', 'Agriculture')
    +word('Ingeniero agrónomo', 'Agricultural engineer')
    +word('Granero, establo', 'Barn')
    +word('Caja', 'Box')
    +word('Ganado', 'Cattle')
    +word('Arcilla', 'Clay')
    +word('Cajón', 'Crate')
    +word('Cultivo', 'Crop')
    +word('Rotación de cultivos', 'Crop rotation')
    +word('Cultivar', 'Cultivate')
    +word('Lechería', 'Dairy')
    +word('Equipo', 'Equipment')
    +word('Granjero(a)', 'Farm')
    +word('Ranchero(a), trabajador(a) agrícola', 'Farm hand')
    +word('Granja, finca', 'Farmer')
    +word('Cerca, valla', 'Fence')
    +word('Fertilizante, abono', 'Fertilizer')
    +word('Campo', 'Field')
    +word('Surco', 'Furrow')
    +word('Tranquera', 'Gate')
    +word('Cereales', 'Grains')
    +word('Cultivar', 'Grow')
    +word('Cosecha', 'Harvest')
    +word('Cosechar', 'Hectare')
    +word('Hectárea', 'Hectare')
    +word('Escardar', 'Hoe')
    +word('Manguera', 'Hose')
    +word('Insecticida', 'Insecticide')
    +word('Irrigación, regadío', 'Irrigation')
    +word('Canal de riego', 'Irrigation ditch')
    +word('Escalera', 'Ladder')
    +word('Animales de cría, ganadería', 'Livestock')
    +word('Huerto', 'Orchard')
    +word('Pastos', 'Pasture')
    +word('Sembrar', 'Plant')
    +word('Planta', 'Plant')
    +word('Vara', 'Pole')
    +word('Poste', 'Post')
    +word('Aves de corral', 'Poultry')
    +word('Productos', 'Produce')
    +word('Tijeras podaderas', 'Pruning shears')
    +word('Criar', 'Raise')
    +word('Maduro(a) (frutas, verduras)', 'Ripe')
    +word('Trabajo estacional', 'Seasonal work')
    +word('Semillas', 'Seeds')
    +word('Pala', 'Shovel')
    +word('Silo', 'Silo')
    +word('Tierra', 'Soil')
    +word('Siembra', 'Sowing')
    +word('Sembrar', 'Sow')
    +word('Riesgo por aspersión', 'Spray irrigation')
    +word('Aspersor', 'Sprinkler')
    +word('Sistema de riego por aspersión', 'Sprinkler system')
    +word('Establo', 'Stable')
    +word('Estaca', 'Stake')
    +word('Novillo', 'Steer')
    +word('Herramienta', 'Tool')
    +word('Tractor', 'Tractor')
    +word('Tráiler', 'Trailer')
    +word('Bandeja', 'Tray')
    +word('Camión', 'Truck')
    +word('Regar', 'Water')
    +word('Molino (de viento)', 'Windmill')
    +word('Alambre', 'Wire')
    +word('Trabajador(a)', 'Worker')