extends /includes/template.pug

append config
  -pageTitle = 'Alphabet'

block main
  include /includes/table.pug
    +word('(ei)', 'a')
    +word('(bi)', 'b')
    +word('(ci)', 'c')
    +word('(di)', 'd')
    +word('(i)', 'e')
    +word('(ef)', 'f')
    +word('(gi)', 'g')
    +word('(eich)', 'h')
    +word('(ai)', 'i')
    +word('(jei)', 'j')
    +word('(kei)', 'k')
    +word('(el)', 'l')
    +word('(em)', 'm')
    +word('(en)', 'n')
    +word('(ou)', 'o')
    +word('(pi)', 'p')
    +word('(kiu)', 'q')
    +word('(ar)', 'r')
    +word('(es)', 's')
    +word('(ti)', 't')
    +word('(yu)', 'u')
    +word('(vi)', 'v')
    +word('(dobliu)', 'w')
    +word('(ecs)', 'x')
    +word('(uái)', 'y')
    +word('(sed)', 'z')