extends /includes/template.pug

append config
  -pageTitle = 'Animals'

block main
  include /includes/table.pug
    +word('Gato', 'Cat')
    +word('Perro', 'Dog')
    +word('Pájaro', 'Bird')
    +word('Pato', 'Duck')
    +word('Cordero', 'Lamb')
    +word('Vaca', 'Cow')
    +word('Caballo', 'Horse')
    +word('Elefante', 'Elephant')
    +word('Araña', 'Spider')
    +word('Abeja', 'Bee')
    +word('Pollito', 'Chick')
    +word('Caracol', 'Snail')
    +word('Pez', 'Fish')
    +word('Toro', 'Bull')
    +word('Lobo', 'Wolf')
    +word('Zorro', 'Fox')
    +word('Gallina', 'Hen')
    +word('Rata', 'Rat')
    +word('Serpiente', 'Snake')
    +word('Mariposa', 'Butterfly')
    +word('Mosquito', 'Mosquito')
    +word('Ballena', 'Whale')
    +word('Gallo', 'Cock')
    +word('Águila', 'Eagle')
    +word('Mono', 'Monkey')
    +word('Camello', 'Camel')
    +word('Conejo', 'Rabbit')
    +word('Chancho', 'Pig')
    +word('Jirafa', 'Giraffe')
    +word('Tigre', 'Tiger')
    +word('Pantera', 'Panther')
    +word('Burro', 'Donkey')
    +word('Ganso', 'Goose')
    +word('Canguro', 'Kangaroo')
    +word('Insecto', 'Insect')
    +word('Pulpo', 'Octopus')
    +word('Langosta', 'Crab')
    +word('Oso', 'Bear')
    +word('Pingüino', 'Penguin')
    +word('Pavo', 'Turkey')
    +word('Pavo real', 'Peacock')
    +word('Paloma', 'Pigeon, dove')
    +word('Hormiga', 'Ant')
    +word('León', 'Lion')
    +word('Hornero', 'Baker')
    +word('Luciérnaga', 'Firefly')
    +word('Ardilla', 'Squirrel')
    +word('Hipopótamo', 'Hippotamus')
    +word('Rinoceronte', 'Rhinoceros')
    +word('Cebra', 'Zebra')
    +word('Cocodrilo', 'Crocodile')
    +word('Cabra', 'Goat')
    +word('Coala', 'Koala')
    +word('Sapo', 'Toad')
    +word('Rana', 'Frog')
    +word('Cisne', 'Swan')