extends /includes/template.pug

append config
  -pageTitle = 'Arts'

block main
  include /includes/table.pug
    +word('Acto', 'Act')
    +word('Actor', 'Actor')
    +word('Actriz', 'Actress')
    +word('Acuarela', 'Watercolor')
    +word('Artista', 'Artist')
    +word('Auditorio', 'Auditorium')
    +word('Autor', 'Author')
    +word('Balada', 'Ballad')
    +word('Canción, canto', 'Song')
    +word('Cantante', 'Singer')
    +word('Cassette, cinta', 'Tape')
    +word('Cine, sala de cine', 'Cinema')
    +word('Compositor', 'Composer')
    +word('Concierto', 'Concert')
    +word('Dibujo', 'Drawing')
    +word('Director', 'Director')
    +word('Disco completo', 'CD (compact disc)')
    +word('Discos', 'Records')
    +word('Entrada', 'Stage')
    +word('Escritor', 'Writer')
    +word('Escultor', 'Sculptor')
    +word('Escultura', 'Sculpture')
    +word('Estatua', 'Statue')
    +word('Estilo', 'Style')
    +word('Exposición', 'Exihibition')
    +word('Galería de arte', 'Art gallery')
    +word('Género', 'Genre')
    +word('Grabado', 'Engraving')
    +word('Historia, cuento', 'Story')
    +word('Libro', 'Book')
    +word('Lienzo', 'Canvas')
    +word('Literatura', 'Literature')
    +word('Melodía', 'Melody')
    +word('Monumento', 'Monument')
    +word('Museo', 'Museum')
    +word('Museo de arte moderno', 'Modern art museum')
    +word('Música', 'Music')
    +word('Música clásica', 'Classical music')
    +word('Música moderna', 'Modern music')
    +word('Música sinfónica', 'Symphonic music')
    +word('Novela', 'Novel')
    +word('Novelista', 'Novelist')
    +word('Obertura', 'Overture')
    +word('Obra de arte', 'Work of art')
    +word('Obra maestra', 'Masterpiece')
    +word('Ópera', 'Opera')
    +word('Orquesta', 'Orchestra')
    +word('Pantalla', 'Screen')
    +word('Película, filme', 'Film, motion picture, movie')
    +word('Pincel', 'Paint brush')
    +word('Pintor', 'Painter')
    +word('Pintura, cuadro', 'Picture')
    +word('Pintura al óleo', 'Oil painting')
    +word('Poema', 'Poem')
    +word('Poeta, poetisa', 'Poet')
    +word('Público', 'Audience')
    +word('Retrato', 'Portrait')
    +word('Sala de conciertos', 'Concert hall')
    +word('Sinfonía', 'Symphony')
    +word('Solista', 'Soloist')
    +word('Teatro', 'Theater')