extends /includes/template.pug

append config
  -pageTitle = 'Body'

block main
  include /includes/table.pug
    +word('Arteria', 'Artery')
    +word('Articulación', 'Joint')
    +word('Barbilla, mentón', 'Chin')
    +word('Boca', 'Mouth')
    +word('Brazo', 'Arm')
    +word('Cabeza', 'Head')
    +word('Cadera', 'Hip')
    +word('Cara', 'Face')
    +word('Ceja', 'Eyebrow')
    +word('Cerebro', 'Brain')
    +word('Cintura', 'Waist')
    +word('Codo', 'Elbow')
    +word('Corazón', 'Heart')
    +word('Costado', 'Side')
    +word('Costilla', 'Rib')
    +word('Cráneo', 'Skull')
    +word('Cuello', 'Neck')
    +word('Cuerpo', 'Body')
    +word('Dedo de la mano', 'Finger')
    +word('Dedo del pie', 'Toe')
    +word('Diente, dientes', 'Tooth, teeth')
    +word('Encías', 'Gums')
    +word('Espalda', 'Back')
    +word('Columna vertebral', 'Spine')
    +word('Estómago', 'Stomach')
    +word('Frente', 'Forehead')
    +word('Genitales', 'Genitals')
    +word('Hígado', 'Liver')
    +word('Hombro', 'Shoulder')
    +word('Hueso', 'Bone')
    +word('Labio', 'Lip')
    +word('Mandíbula', 'Jaw')
    +word('Mano', 'Hand')
    +word('Mejilla', 'Cheek')
    +word('Miembro, extremidad', 'Limb')
    +word('Muñeca', 'Wrist')
    +word('Músculo', 'Muscle')
    +word('Muslo', 'Thigh')
    +word('Nariz', 'Nose')
    +word('Nervio', 'Nerve')
    +word('Nudillo', 'Knuckle')
    +word('Ojo', 'Eye')
    +word('Ombligo', 'Navel')
    +word('Oreja', 'Ear')
    +word('Pantorrilla', 'Calf')
    +word('Párpado', 'Eyelid')
    +word('Pecho', 'Chest')
    +word('Pelo', 'Hair')
    +word('Pestaña', 'Eyelash')
    +word('Pie', 'Foot')
    +word('Piel', 'Skin')
    +word('Pierna', 'Leg')
    +word('Pulmón', 'Lung')
    +word('Puño', 'Fist')
    +word('Riñones', 'Kidneys')
    +word('Rodilla', 'Knee')
    +word('Sangre', 'Blood')
    +word('Talón', 'Heel')
    +word('Tobillo', 'Ankle')
    +word('Trasero', 'Bottom')
    +word('Uña', 'Nail')
    +word('Vena', 'Vein')