extends /includes/template.pug

append config
  -pageTitle = 'City'

block main
  include /includes/table.pug
    +word('Aeropuerto', 'Airport')
    +word('Galería de arte', 'Art gallery')
    +word('Centro cultural', 'Arts center')
    +word('Avenida', 'Avenue')
    +word('Banco', 'Bank')
    +word('Bar', 'Bar')
    +word('Bicicleta', 'Bicycle')
    +word('Pensión, casa de huéspedes', 'Boarding house')
    +word('Kiosco, puesto de libros', 'Bookstall')
    +word('Jardín botánico', 'Botanical garden')
    +word('Bulevar', 'Boulevard')
    +word('Puente', 'Bridge')
    +word('Obra en construcción', 'Buildings')
    +word('Autobús', 'Bus')
    +word('Estación de autobuses', 'Bus station')
    +word('Parada de autobús', 'Bus stop')
    +word('Castillo', 'Castle')
    +word('Catedral', 'Cathedral')
    +word('Cementerio', 'Cementery')
    +word('Iglesia', 'Church')
    +word('Circo', 'Circus')
    +word('Ayutamiento, municipalidad', 'City hall')
    +word('Reloj', 'Clock')
    +word('Consulado', 'Consulate')
    +word('Esquina', 'Corner')
    +word('Cruce', 'Crossroads')
    +word('Paso de peatones', 'Crosswalk')
    +word('Callejón sin salida', 'Cul-de-sac')
    +word('Bordillo de la acera', 'Curb')
    +word('Grandes almacenes', 'Department store')
    +word('Barrio, distrito', 'District')
    +word('Zanja', 'Ditch')
    +word('Centro de la ciudad', 'Downtown')
    +word('Farmacia', 'Drugstore')
    +word('Embajada', 'Embassy')
    +word('Cuerpo de bomberos', 'Fire brigade')
    +word('Fuente', 'Fountain')
    +word('Alcantarilla, cuneta', 'Gutter')
    +word('Peluquería', "hairdresser's")
    +word('Autopista', 'Highway')
    +word('Hospital', 'Hospital')
    +word('Hostal', 'Hostel')
    +word('Hotel', 'Hotel')
    +word('Casa', 'House')
    +word('Oficina de información', 'Information office')
    +word('Habitante', 'Inhabitant')
    +word('Callejón', 'Lane')
    +word('Lavadero automático', 'Laundromat')
    +word('Tribunal', 'Lawcourt')
    +word('Biblioteca', 'Library')
    +word('Basura', 'Litter')
    +word('Buzón de correos', 'Mail box')
    +word('Mercado', 'Market')
    +word('Monumento', 'Monument')
    +word('Mezquita', 'Mosque')
    +word('Motocicleta', 'Motorcycle')
    +word('Automovilistas', 'Motorists')
    +word('Cine', 'Movie theater')
    +word('Museo', 'Museum')
    +word('Barrio, distrito', 'Neighborhood')
    +word('Letreros luminosos', 'Neon signs')
    +word('Quiosco de periódicos', 'Newspaper stand')
    +word('Club nocturno', 'Night club')