extends /includes/template.pug

append config
  -pageTitle = 'Clothes'

block main
  include /includes/table.pug
    +word('Zapatos', 'Shoes')
    +word('Calcetines', 'Sockets')
    +word('Zapatillas', 'Trainers')
    +word('Sandalias', 'Sandals')
    +word('Calzoncillo', 'Underpant')
    +word('Calzoncillo largo', 'Long john')
    +word('Calzón', 'Pant')
    +word('Camiseta', 'Undershirt')
    +word('Camiseta sin mangas', 'Jersey')
    +word('Pijama', 'Pijama')
    +word('Pantalón largo', 'Trousers')
    +word('Pantalón corto', 'Short')
    +word('Pantalón de buzo', 'Track suit')
    +word('Pantalón de traje', 'Fine trouser')
    +word('Vestón o terno', 'Jacket')
    +word('Corbata', 'Tie, necktie')
    +word('Cinturón', 'Shirt')
    +word('Chaleco', 'Sweater')
    +word('Parka, campera', 'Anorak, skin jacket')
    +word('Cortavientos', 'Shelterbelts')
    +word('Abrigo', 'Coat')
    +word('Impermeable', 'Raincoat')
    +word('Gafas', 'Sunglasses')
    +word('Anteojos', 'Glasses')
    +word('Anillo', 'Ring')
    +word('Aro', 'Earring')
    +word('Collar', 'Necklace')
    +word('Paño', 'Antimascassar')
    +word('Mochila', 'Backpack')
    +word('Bolso', 'Bag')
    +word('Cartera', 'Handbag')
    +word('Maletín', 'Briefcase')
    +word('Falda', 'Skirt')
    +word('Vestido de novia', 'Wedding dress')
    +word('Moda', 'Fashion')
    +word('Vestir', 'Wear')
    +word('Vestuario', 'Dress room')
    +word('Diseño', 'Design')
    +word('Talla', 'Size')
    +word('Largo', 'Long')
    +word('Ancho', 'Weight')
    +word('Alto', 'Height')
    +word('Medida', 'Measure')
    +word('Devolución', 'Devolution')
    +word('Cambio', 'Change')
    +word('Probar', 'Try on')
    +word('Probadores', 'Try rooms')