extends /includes/template.pug

append config
  -pageTitle = 'Colors'

block main
  include /includes/table.pug
    +word('Rojo', 'Red')
    +word('Azul', 'Blue')
    +word('Verde', 'Green')
    +word('Blanco', 'White')
    +word('Negro', 'Black')
    +word('Gris', 'Gray')
    +word('Púrpura', 'Purple')
    +word('Naranja', 'Orange')
    +word('Amarillo', 'Yellow')
    +word('Rosa', 'Pink')
    +word('Marrón, Café', 'Brown')
    +word('Plateado', 'Silver')
    +word('Dorado', 'Golden')
    +word('Celeste', 'Sky Blue')
    +word('Azul Marino', 'Navy Blue')
    +word('Violeta', 'Violet')
    +word('Fucsia', 'Fucshia')