extends /includes/template.pug

append config
  -pageTitle = 'Common Verbs'

block main
  include /includes/table.pug
    +word('Responder', 'Answer', 'Answered', 'Answered')
    +word('Preguntar', 'Ask', 'Asked', 'Asked')
    +word('Ser / Estar', 'Be', 'Was, Were', 'Been')
    +word('Convertirse', 'Become', 'Became', 'Become')
    +word('Comenzar', 'Begin', 'Began', 'Begun')
    +word('Creer', 'Believe', 'Believed', 'Believed')
    +word('Apostar', 'Bet', 'Bet', 'Bet')
    +word('Pedir Prestado', 'Borrow', 'Borrowed', 'Borrowed')
    +word('Frenar', 'Brake', 'Braked', 'Braked')
    +word('Quebrar', 'Break', 'Broke', 'Broken')
    +word('Trear', 'Bring', 'Brought', 'Brought')
    +word('Construir', 'Build', 'Built', 'Built')
    +word('Comprar', 'Buy', 'Bought', 'Bought')
    +word('Atrapar', 'Catch', 'Caught', 'Caught')
    +word('Cambiar', 'Change', 'Changed', 'Changed')
    +word('Escoger o Elegir', 'Choose', 'Chose', 'Chosen')
    +word('Limpiar', 'Clean', 'Cleaned', 'Cleaned')
    +word('Entrenar', 'Coach', 'Coached', 'Coached')
    +word('Venir', 'Come', 'Came', 'Come')
    +word('Volver', 'Come back', 'Came back', 'Come back')
    +word('Entrar o Ingresar', 'Come in', 'Came in', 'Come in')
    +word('Copiar', 'Copy', 'Copied', 'Copied')
    +word('Crear', 'Create', 'Created', 'Created')
    +word('Llorar', 'Create', 'Created', 'Created')
    +word('Cortar', 'Cut', 'Cut', 'Cut')
    +word('Morir', 'Die', 'Died', 'Died')
    +word('Hacer', 'Do', 'Did', 'Done')
    +word('Tomar o Beber', 'Drink', 'Drank', 'Drunk')
    +word('Conducir', 'Drive', 'Drove', 'Driven')
    +word('Comer', 'Eat', 'Ate', 'Eaten')
    +word('Gozar o Disfrutar', 'Enjoy', 'Enjoyed', 'Enjoyed')
    +word('Entrar', 'Enter', 'Entered', 'Entered')
    +word('Caer', 'Fall', 'Fell', 'Fallen')
    +word('Alimentar', 'Feed', 'Fed', 'Fed')
    +word('Sentir', 'Feel', 'Felt', 'Felt')
    +word('Pelear', 'Fight', 'Fought', 'Fought')
    +word('Llenar', 'Fill', 'Filled', 'Filled')
    +word('Encontrar', 'Find', 'Found', 'Found')
    +word('Finalizar', 'Finish', 'Finished', 'Finished')
    +word('Arreglar o Reparar', 'Fix', 'Fixed', 'Fixed')
    +word('Volar', 'Fly', 'Flew', 'Flown')
    +word('Obtener', 'Get', 'Got', 'Got')
    +word('Dar', 'Give', 'Gave', 'Given')
    +word('Ir', 'Go', 'Went', 'Gone')
    +word('Tener / Haber', 'Have', 'Had', 'Had')
    +word('Oír', 'Hear', 'Heard', 'Heard')
    +word('Interrumpir', 'Interrupt', 'Interrupted', 'Interrupted')
    +word('Invertir', 'Invest', 'Invested', 'Invested')
    +word('Juntar o Acompañar', 'Join', 'Joined', 'Joined')
    +word('Matar', 'Kill', 'Killed', 'Killed')
    +word('Saber', 'Know', 'Knew', 'Known')
    +word('Reír', 'Laugh', 'Laughed', 'Laughed')
    +word('Liderar', 'Lead', 'Lead', 'Lead')
    +word('Aprender', 'Learn', 'Learned', 'Learned')
    +word('Dejar o Adandonar', 'Leave', 'Left', 'Left')
    +word('Prestar', 'Lend', 'Lent', 'Lent')
    +word('Dejar o Permitir', 'Let', 'Let', 'Let')
    +word('Gustar', 'Like', 'Liked', 'Liked')
    +word('Escuchar', 'Listen', 'Listened', 'Listened')
    +word('Mirar', 'Look', 'Looked', 'Looked')
    +word('Perder', 'Lose', 'Lost', 'Lost')
    +word('Amar', 'Love', 'Loved', 'Loved')
    +word('Necesitar', 'Need', 'Needed', 'Needed')
    +word('Deber', 'Owe', 'Owed', 'Owed')
    +word('Poseer', 'Own', 'Owned', 'Owned')
    +word('Pegar', 'Paste', 'Pasted', 'Pasted')
    +word('Pagar', 'Pay', 'Paid', 'Paid')
    +word('Jugar o Tocar', 'Play', 'Played', 'Played')
    +word('Rezar', 'Pray', 'Prayed', 'Prayed')
    +word('Prometer', 'Promise', 'Promised', 'Promised')
    +word('Alcanzar', 'Reach', 'Reached', 'Reached')
    +word('Leer', 'Read', 'Read', 'Read')
    +word('Reconocer', 'Recognize', 'Recognized', 'Recognized')
    +word('Resetear', 'Reset', 'Reset', 'Reset')
    +word('Reiniciar', 'Restart', 'Restarted', 'Restarted')
    +word('Devolver', 'Return', 'Returned', 'Returned')
    +word('Guardar o Ahorrar', 'Save', 'Saved', 'Saved')
    +word('Buscar', 'Search', 'Searched', 'Searched')
    +word('Ver', 'See', 'Saw', 'Seen')
    +word('Sembrar', 'Seed', 'Seeded', 'Seeded')
    +word('Configurar', 'Set', 'Set', 'Set')
    +word('Sacudir', 'Shake', 'Shook', 'Shaken')
    +word('Compartir', 'Share', 'Shared', 'Shared')
    +word('Mostrar', 'Show', 'Showed', 'Showed')
    +word('Cantar', 'Sing', 'Sang', 'Sung')
    +word('Sonreir', 'Smile', 'Smiled', 'Smiled')
    +word('Hablar', 'Speak', 'Spoke', 'Spoken')
    +word('Iniciar', 'Start', 'Started', 'Started')
    +word('Parar', 'Stop', 'Stopped', 'Stopped')
    +word('Jurar', 'Swear', 'Swore', 'Sworn')
    +word('Tomar', 'Take', 'Took', 'Taken')
    +word('Conversar', 'Talk', 'Talked', 'Talked')
    +word('Enseñar', 'Teach', 'Teached', 'Teached')
    +word('Contar o Decir', 'Tell', 'Told', 'Told')
    +word('Contar', 'Tell', 'Told', 'Told')
    +word('Pensar', 'Think', 'Thought', 'Thought')
    +word('Tocar', 'Touch', 'Touched', 'Touched')
    +word('Viajar', 'Travel', 'Traveled', 'Traveled')
    +word('Intentar o Tratar', 'Try', 'Tried', 'Tried')
    +word('Entender', 'Understand', 'Understood', 'Understood')
    +word('Querer o Desear', 'Want', 'Wanted', 'Wanted')
    +word('Observar', 'Watch', 'Watched', 'Watched')
    +word('Ganar', 'Win', 'Won', 'Won')
    +word('Escribir', 'Write', 'Wrote', 'Written')
    +word('Alquilar o Rentar', 'Rent', 'Rented', 'Rented')
    +word('Lucrar o Ganar', 'Profit', 'Profited', 'Profited')
    +word('Poner', 'Put', 'Put', 'Put')
    +word('Ubicar', 'Place', 'Placed', 'Placed')