extends /includes/template.pug

append config
  -pageTitle = 'Computing'

block main
  include /includes/table.pug
    +word('Arroba', 'At')
    +word('Barra invertida, barra inversa', 'Backslash')
    +word('Hacer copia de seguridad', 'Backup')
    +word('Ancho de banda', 'Bandwidth')
    +word('Favorito, marcador', 'Bookmark')
    +word('Navegador (web)', 'Browser')
    +word('Error, virus', 'Bug')
    +word('Botón', 'Button')
    +word('Byte', 'Byte')
    +word('Kilobyte', 'Kilobyte')
    +word('Megabyte', 'Megabyte')
    +word('Cable', 'Cable')
    +word('Tarjeta', 'Card')
    +word('CD-ROM', 'CD-ROM')
    +word('Clic, hacer clic, cliquear, presionar', 'Click')
    +word('Computadora, ordernador', 'Computer')
    +word('Infórmatica', 'Computer science')
    +word('Cursor', 'Cursor')
    +word('Cortar y pegar', 'Cut and paste')
    +word('Datos', 'Data')
    +word('Ordenador de mesa', 'Desktop')
    +word('Digital', 'Digital')
    +word('Dominio', 'Domain')
    +word('Punto', 'Dot')
    +word('Descargar', 'Download')
    +word('Correo electrónico', 'Email')
    +word('Borrar', 'Erase, delete')
    +word('Archivo', 'File')
    +word('Memoria flash', 'Flash drive')
    +word('Carpeta', 'Folder')
    +word('Preguntas más frecuentes', 'Frequently asked questions (FAQ)')
    +word('Disco duro', 'Hard drive')
    +word('Resolución alta', 'High resolution')
    +word('Página de inicio', 'Home page')
    +word('Icono', 'Icon')
    +word('Instalar', 'Install')
    +word('Internet', 'Internet')
    +word('Tecla', 'Key')
    +word('Teclado', 'Keyboard')
    +word('Ordenador portátil', 'Laptop')
    +word('LCD', 'LCD')
    +word('Enlace', 'Link')
    +word('Memoria', 'Memory')
    +word('Menú', 'Menu')
    +word('Mensaje', 'Message')
    +word('Ratón', 'Mouse')
    +word('Módem', 'Modem')
    +word('Red', 'Network')
    +word('Sistema operativo', 'Operating system')
    +word('Contraseña', 'Password')
    +word('Imprimir', 'Print')
    +word('Impresora', 'Print')
    +word('Procesador', 'Processor')
    +word('Programa', 'Program')
    +word('RAM', 'RAM')
    +word('Guardar', 'Save')
    +word('Pantalla', 'Screen')
    +word('Salvapantallas', 'Screensaver')
    +word('Buscador', 'Search engine')
    +word('Barra oblicua, slash', 'Slash')
    +word('Servidor', 'Server')
    +word('Software', 'Software')
    +word('Correo basura, spam', 'Spam')
    +word('Barra de herramientas', 'Toolbar')
    +word('Puerto USB', 'USB port')
    +word('Video', 'Video')
    +word('Virus', 'Virus')
    +word('Página web', 'Web page')
    +word('Sitio web', 'Website')
    +word('Ventana', 'Window')
    +word('Inalámbrico', 'Wireless')
    +word('Wifi', 'Wi-FI')