extends /includes/template.pug

append config
  -pageTitle = 'Conjunctions'

block main
  include /includes/table.pug
    +word('Sin embargo', 'However')
    +word('No obstante', 'Nevertheless')
    +word('En consecuencia', 'Consequently')
    +word('Por lo tanto', 'Therefore / hance / thus')
    +word('De hecho, en efecto', 'In fact')
    +word('A pesar de', 'In spite of')
    +word('Además', 'Furthermore')
    +word('De todas maneras', 'Anyway')
    +word('De ninguna manera', 'Somehow')
    +word('Por si acaso', 'Just in case')
    +word('A propósito', 'By the way')
    +word('Aunque', 'Although')
    +word('En otras palabras', 'In other words')
    +word('Al contrario', 'Unlike')
    +word('Debido a', 'Due to')
    +word('De vez en cuando', 'Once in a while')
    +word('En cambio', 'Instead')
    +word('Por otro lado', 'By the other hand')
    +word('Según el/ lo/ la cual', 'According to which')
    +word('En lo/ el/ la cual', 'In which')
    +word('Por lo/ la/ el cual', 'By which')
    +word('Para lo cual', 'For which')
    +word('y', 'And')
    +word('Pero', 'But')
    +word('o', 'Or')
    +word('Ni', 'Nor')
    +word('Así que, y bien, y bueno...', 'So')
    +word('A pesar de / pese a que', 'Despite / in spite of')
    +word('Por otro lado / por otra parte', 'On the other hand')
    +word('En vez de', 'Instead of')