extends /includes/template.pug

append config
  -pageTitle = 'Contact'
  -title = 'Contact'

block main
  p.note.u-center Si encuentras algún error en alguna traducción, puedes contactarme para así poder resolverlo.

  form(action="https://formspree.io/carlo.interpab@gmail.com", method="post").form
    input(type="text", name="name", placeholder="Your Name" autofocus).form__input
    input(type="text", name="email", placeholder="Your Email").form__input
    input(type="text", name="subject", placeholder="Subject").form__input
    textarea(name="description", cols="20", rows="10", placeholder="Description").description
    input(type="submit", value="Send").submit