extends /includes/template.pug

append config
  -pageTitle = 'Dictionary'

block main
  include /includes/table.pug
    +word('devolución, reembolso', 'a refund')
    +word('pagar la cuenta', 'to settle the bill')
    +word('chispea', 'drizzling')
    +word('cruce', 'crossroads')
    +word('enfrente', 'opposite')
    +word('rotonda', 'roundabout')
    +word('recto', 'straight on')
    +word('cruce, bocacalle', 'turning')
    +word('tique de compra', 'receipt')
    +word('contestador automático', 'answerphone')
    +word('beep', 'pitido')
    +word('espere un momento', 'hold on')
    +word('llamada a cobro revertido', 'reverse charge call')
    +word('estar comunicado', 'to be engaged')
    +word('marcar', 'to dial')
    +word('colgar', 'to hang up')
    +word('descolgar el teléfono', 'to pick the phone up')
    +word('pasar la llamada', 'to put someone through')
    +word('garrafa', 'gallon')
    +word('agacharse', 'bend down')
    +word('estiramiento', 'to stretch')
    +word('puñetazo', 'to punch')
    +word('barco de remos', 'rowing boat')
    +word('remo', 'oar')
    +word('lancha motota', 'powerboat')
    +word('ferry de coches', 'car ferry')
    +word('velero', 'sailing boat')
    +word('yate', 'yacht')
    +word('bote de pesca', 'fishing boat')
    +word('túnica', 'robe')
    +word('impermeable', 'raincoat')
    +word('sneakers', 'zapatillas deportivas')
    +word('cap', 'gorra')
    +word('undershirt', 'camiseta')
    +word('knickers', 'bragas')
    +word('underwear', 'ropa interior (f)')
    +word('coat', 'saco')
    +word('stockings', 'medias')
    +word('socks', 'calcetines')
    +word('bra', 'sostén')
    +word('underpants', 'calzoncillos')
    +word('slippers', 'sandalias')
    +word('overalls', 'traje')
    +word('carmesi', 'crimson')
    +word('sequía', 'drought')
    +word('valla', 'fence')
    +word('casa de campo', 'farmhouse')
    +word('granero', 'barn')
    +word('patio', 'farmyard')
    +word('establo', 'cowshed')
    +word('gallinero', 'hen house')
    +word('gallinas', 'hens')
    +word('posilga', 'pigsty')
    +word('plato principal', 'main course')
    +word('sediento', 'hirsty')
    +word('completo', 'ull')
    +word('somnoliento', 'sleepy')
    +word('pomelo', 'grapefruit')
    +word('palta', 'avocado')
    +word('durazno', 'peach')
    +word('damasco', 'apricot')
    +word('ciruela', 'plum')
    +word('fresa', 'strawberry')
    +word('frambuesa', 'raspberry')
    +word('cereza', 'cherry')
    +word('uva', 'grape')
    +word('higo', 'fig')
    +word('nuez', 'walnut')
    +word('almendra', 'almond')
    +word('avellana', 'hazelnut')
    +word('maní', 'peanut')
    +word('nido', 'nest')
    +word('pala', 'spade')
    +word('regar', 'to water')
    +word('plantar', 'to plant')
    +word('carretilla', 'wheelbarrow')
    +word('césped', 'grass')
    +word('rastrillo', 'rake')
    +word('cortacésped', 'lawnmower')
    +word('regadera', 'watering can')
    +word('manguera', 'hose')
    +word('sendero del jardín', 'garden path')
    +word('arbusto', 'bush')
    +word('chimenea', 'chimney')
    +word('sótano', 'cellar')
    +word('fondo', 'bottom')
    +word('moretón', 'bruise')
    +word('enfermedad', 'illness')
    +word('asistente de ventas', 'shop assistant')
    +word('trabajador de fábrica', 'factory worker')
    +word('cajón', 'drawer')
    +word('cacerola', 'saucepan')
    +word('especias', 'spices')
    +word('tabla de cortar pan', 'bread board')
    +word('tetera', 'teapot')
    +word('alacena', 'cupboard')
    +word('horno', 'over')
    +word('suelta', 'loose')
    +word('apretado', 'tight')
    +word('ordenado', 'tidy, neat')
    +word('desordenado', 'messy, untidy')
    +word('vida marina', 'sea-life')
    +word('surface', 'superficie')
    +word('cola', 'tail')
    +word('aleta', 'fin')
    +word('fondo del mar', 'seabed')
    +word('estrella de mar', 'starfish')
    +word('medusa', 'jellyfish')
    +word('ballena', 'whale')
    +word('patinaje sobre ruedas', 'roller skating')
    +word('retrato', 'portrait')
    +word('barba', 'beard')
    +word('pecas', 'freckles')
    +word('rizado', 'curly')
    +word('rechoncha', 'plump')
    +word('pelo rubio', 'fair hair')
    +word('pelo lacio', 'straight hair')
    +word('bigote', 'moustache')
    +word('gacela', 'gazelle')
    +word('chimpancés', 'chimpanzees')
    +word('cachorros', 'cubs')
    +word('rebaño', 'herd')
    +word('reno', 'reindeer')
    +word('foca', 'seal')