extends /includes/template.pug

append config
  -pageTitle = 'Electronics'

block main
  include /includes/table.pug
    +word('Aire acondicionado', 'Air conditioning')
    +word('Altavoz, parlante', 'Speaker')
    +word('Aparato eléctrico, electrodoméstico', 'Electrical appliance, electronic device')
    +word('Aspiradora', 'Vacuum cleaner')
    +word('Batidora eléctrica', 'Mixer')
    +word('Bombilla', 'Light bulb')
    +word('Cafetera', 'Coffee machine, coffer maker')
    +word('Calientaplatos eléctrico', 'Electric hotplate')
    +word('Campana extractora de humos', 'Cooker hood')
    +word('Cepillo de dientes eléctrico', 'Electric toothbrush')
    +word('Cordón eléctrico, cable de la corriente', 'Electric cord')
    +word('Cuchillo eléctrico', 'Electric kitchen knife')
    +word('Despertador eléctrico', 'Electric alarm clock')
    +word('Disco compacto', 'Compact Disc (CD)')
    +word('Electricidad', 'Electricity')
    +word('Electrónica', 'Electronics')
    +word('Enchufe (hembra, de pared)', 'Socket')
    +word('Enfuche (macho)', 'Plug, outlet')
    +word('Equipo de música, equipo estereofónica', 'Stereo system')
    +word('Escáner', 'Scanner')
    +word('Estufa eléctrica', 'Electric heater')
    +word('Exprimidor eléctrico', 'Juicer')
    +word('Freidora eléctrica', 'Deep-fat fryer')
    +word('Frigorífico, nevera, refrigerador', 'Refrigerator, fridge')
    +word('Fusible', 'Fuse')
    +word('Horno', 'Oven')
    +word('Impresora', 'Printer')
    +word('Interruptor', 'Switch')
    +word('Lámpara', 'Lamp')
    +word('Lavadora automática', 'Automatic washing machine')
    +word('Lavavajillas', 'Dishwasher, dishwashing machine')
    +word('Lector DVD', 'DVD player')
    +word('Licuadora', 'Blender, liquidizer')
    +word('Mando a distancia, control remoto', 'Remote control')
    +word('Micrófono', 'Microphone')
    +word('Microondas', 'Microwave')
    +word('Ordenador personal', 'Personal computer (PC)')
    +word('Pila', 'Battery')
    +word('Plancha eléctrica', 'Electric iron')
    +word('Radio', 'Radio')
    +word('Secador de pelo', 'Hairdryer')
    +word('Secadora', 'Clothes dryer')
    +word('Teléfono', 'Telephone, phone')
    +word('Televisor', 'Television, TV')
    +word('Tostador de pan', 'Toaster')
    +word('Ventilador', 'Electric fan')
    +word('Video', 'Video')
    +word('Videocámara', 'Video camera')
    +word('Videocasetera', 'VCR')
    +word('Videoconsola', 'Games console')