extends /includes/template.pug

append config
  -pageTitle = 'Engineering'

block main
  include /includes/table.pug
    +word('Exactitud, precisión', 'Accuracy')
    +word('Exacto, preciso', 'Accurate')
    +word('Activar', 'Activate')
    +word('Cambiar, modificar', 'Alter')
    +word('Aproximadamente', 'Approximately')
    +word('Automatización', 'Automation')
    +word('Promedio', 'Average')
    +word('Capacidad', 'Capacity')
    +word('Causa, motivo', 'Cause')
    +word('Ingeniería civil', 'Civil engineering')
    +word('Abrazadera', 'Clamp')
    +word('Compresor', 'Compressor')
    +word('Configuración', 'Configuration')
    +word('Consistencia', 'Consistency')
    +word('Restricción, limitación', 'Constraint')
    +word('Convertir, transformar', 'Convert')
    +word('Enfriar', 'Cool')
    +word('Densidad', 'Density')
    +word('Diseño, diseñar', 'Design')
    +word('Deteriorarse', 'Deteriorate')
    +word('Borrador, anteproyecto', 'Draft')
    +word('Ingeniería electrónica', 'Electrical engineering')
    +word('Electrónica', 'Electronics')
    +word('Energía', 'Energy')
    +word('Motor', 'Engine')
    +word('Ejercer', 'Exert')
    +word('Característica, rasgo', 'Feature')
    +word('Fuerza', 'Force')
    +word('Frecuencia', 'Frequency')
    +word('Engranaje', 'Gears')
    +word('Ingeniería genética', 'Genetic engineering')
    +word('Generador', 'Generator')
    +word('Alto voltaje', 'High voltage')
    +word('Ingeniería industrial', 'Industrial engineering')
    +word('Instalar', 'Install')
    +word('Junta', 'Joint')
    +word('Material', 'Material')
    +word('Medir', 'Measure')
    +word('Medida', 'Measurement')
    +word('Mecánico (a)', 'Mechanical')
    +word('Mecánica', 'Mechanics')
    +word('Modelo', 'Mechanism')
    +word('Modificar', 'Modify')
    +word('Salida, rendimiento', 'Output')
    +word('Fuerza, potencia', 'Power')
    +word('Subida de voltaje', 'Power surge')
    +word('Presión', 'Pressure')
    +word('Prototipo', 'Prototype')
    +word('Radar', 'Radar')
    +word('Razón, proporción', 'Ratio')
    +word('Materia prima', 'Raw material')
    +word('Investigación, investigar', 'Research')
    +word('Robótica', 'Robotics')
    +word('Sensor', 'Sensor')
    +word('Simulador', 'Simulator')
    +word('Bosquejo, esbozo', 'Sketch')
    +word('Especificación', 'Specification')
    +word('Almacenamiento', 'Storage')
    +word('Sustancia', 'Substance')
    +word('Superficie', 'Surface')
    +word('Medición, estudio', 'Survey')
    +word('Tabla, cuadro', 'Table')
    +word('Técnico(a)', 'Technical')
    +word('Técnica', 'Technique')
    +word('Prueba', 'Test')
    +word('Herramienta', 'Tool')
    +word('Par de torsión', 'Torque')
    +word('Prueba', 'Trial')
    +word('Unidad', 'Unit')
    +word('Unidad de medida', 'Unit of measurement')
    +word('Peso', 'Weight')
    +word('Voltaje', 'Voltage')