extends /includes/template.pug

append config
  -pageTitle = 'Family'

block main
  include /includes/table.pug
    +word('Padre', 'Father')
    +word('Madre', 'Mother')
    +word('Padres', 'Parents')
    +word('Hijo', 'Son')
    +word('Hija', 'Daughter')
    +word('Hermano', 'Brother')
    +word('Hermana', 'Sister')
    +word('Tía', 'Aunt')
    +word('Tío', 'Uncle')
    +word('Abuelo', 'Grandfather')
    +word('Abuela', 'Grandmother')
    +word('Esposo, marido', 'Husband')
    +word('Esposa, mujer', 'Wife')
    +word('Niño, niña', 'Child')
    +word('Niños, hijos', 'Children')
    +word('Primo, prima', 'Cousin')
    +word('Cuñado', 'Brother-in-law')
    +word('Cuñada', 'Sister-in-law')
    +word('Sobrino', 'Nephew')
    +word('Sobrina', 'Niece')
    +word('Suegro', 'Father-in-law')
    +word('Suegra', 'Mother-in-law')
    +word('Padrino', 'Godfather')
    +word('Madrina', 'Godmother')
    +word('Nieto', 'Grandson')
    +word('Nieta', 'Granddaughter')
    +word('Nietos', 'Grandchildren')
    +word('Bisabuelo', 'Great grandfather')
    +word('Bisabuela', 'Great grandmother')
    +word('Ahijado', 'Godson')
    +word('Ahijada', 'Goddaughter')
    +word('Padrastro', 'Stepfather')
    +word('Madrastra', 'Stepmother')
    +word('Hijastro', 'Stepson')
    +word('Hijastra', 'Stepdaughter')
    +word('Yerno', 'Son-in-law')
    +word('Nuera', 'Daughter-in-law')
    +word('Hijo único', 'Only child')
    +word('Bisnieto', 'Great grandson')
    +word('Bisnieta', 'Great granddaughter')
    +word('Padrinos', 'Godparents')
    +word('Señor', 'Mr')
    +word('Señora', 'Mrs')
    +word('Señorita', 'Miss')
    +word('Parientes', 'Relatives')
    +word('Chico', 'Boy')
    +word('Chica', 'Girl')
    +word('Gemelos', 'Twins')
    +word('Adolescente', 'Teenager')