extends /includes/template.pug

append config
  -pageTitle = 'Finances'

block main
  include /includes/table.pug
    +word('Cajero automático', 'ATM')
    +word('Cuenta', 'Account')
    +word('Contador', 'Accountant')
    +word('Activo', 'Asset')
    +word('Saldo', 'Balance')
    +word('Banco', 'Bank')
    +word('Billete', 'Bill')
    +word('Cuenta, factura', 'Bill')
    +word('Junta directiva', 'Board of directors')
    +word('Bono', 'Bond')
    +word('Presupuesto', 'Budget')
    +word('Pago contra entrega', 'Cash on delivery (COD)')
    +word('Sólo pagar en efectivo', 'Cash only')
    +word('Cámara de comercio', 'Chamber of commerce')
    +word('Cambio', 'Change')
    +word('Cheque', 'Check')
    +word('Cuenta corriente', 'Checking account')
    +word('Moneda', 'Coin')
    +word('Comisión', 'Commission')
    +word('Crédito', 'Credit')
    +word('Tarjeta de crédito', 'Credit card')
    +word('Débito', 'Debit')
    +word('Tarjeta de débito', 'Debit card')
    +word('Deuda', 'Debt')
    +word('Capital', 'Equity')
    +word('Tipo de cambio', 'Exchange rate')
    +word('Gasto', 'Expense')
    +word('Estado financiero', 'Financial statement')
    +word('Finanzas', 'Finances')
    +word('Moneda extranjera', 'Foreign currency')
    +word('Interés', 'Interest')
    +word('Inversión', 'Investment')
    +word('Factura', 'Invoice')
    +word('Sociedad en nombre colectivo', 'Joint Partnership')
    +word('Negocio en participación', 'Joint venture')
    +word('Carta de crédito', 'Letter of credit')
    +word('Largo plazo', 'Long term')
    +word('Dinero', 'Money')
    +word('Transferencia de fondos, giro de dinero', 'Money transfer')
    +word('Hipoteca', 'Mortgage')
    +word('Moneda nacional', 'National currency, local currency')
    +word('Ingreso neto', 'Net income')
    +word('Utilidad neto', 'Net profit')
    +word('Gasto de operación', 'Operating cost')
    +word('Utilidad de operación', 'Operating profit')
    +word('Papeleo', 'Paperwork')
    +word('Pago', 'Payment')
    +word('Impuesto sobre la renta personal', 'Personal income tax')
    +word('Tasa de interés', 'Rate of interest')
    +word('Reembolso', 'Reimbursement')
    +word('Ahorros', 'Savings')
    +word('Cuenta de ahorro', 'Savings account')
    +word('Accionista', 'Share holder')
    +word('Acciones', 'Shares')
    +word('Corto plazo', 'Short term')
    +word('Firmar', 'Sign')
    +word('Firma', 'Signature')
    +word('Estado de cuenta', 'Statement')
    +word('Mercado de valores', 'Stock market')
    +word('Accionista', 'Stock holder')
    +word('Comercio, negociar', 'Trade')
    +word('Retirar', 'Withdraw')
    +word('Retiro, extracción', 'Withdrawal')
    +word('Devengar (interés)', 'Yield')