extends /includes/template.pug

append config
  -pageTitle = 'Hobbies'

block main
  include /includes/table.pug
    +word('Tocar un instrumento', 'Plan an instrument')
    +word('Escuchar música', 'Listening music')
    +word('Ver televisión', 'Watch televisión')
    +word('Jugar ajedrez', 'Play chess')
    +word('Ir de camping', 'Go-out camping')
    +word('Ir de pesca', 'Go-out fishing')
    +word('Leer un libro', 'Read a book')
    +word('Ir al cine', 'Go to movies')
    +word('Ir al teatro', 'Go to theater')
    +word('Ir a un concierto', 'Go to a concert')
    +word('Salir a comer', 'Eating out')
    +word('Ir de compras', 'Go for shopping')
    +word('Tomarse un café', 'Go for shopping')
    +word('Salir a bailar', 'Go out dancing')
    +word('Pintar o dibujar', 'Painting or drawing')
    +word('Escribir poesía', 'Write poetry')
    +word('Hacer surf', 'Surfing')
    +word('Viajar y conocer', 'Travel and meeting')
    +word('Andar en auto', 'Driving a car')
    +word('Jugar video games', 'Play video-games')