extends /includes/template.pug

append config
  -pageTitle = 'Home'

block main
  include /includes/table.pug
    +word('Habitación', 'Room')
    +word('Balcón', 'Balcony')
    +word('Baño', 'Bathroom')
    +word('Dormitorio', 'Bedroom')
    +word('Comedor', 'Dining room')
    +word('Salón', 'Living room')
    +word('Sala de estar', 'Sitting room')
    +word('Garaje', 'Garage')
    +word('Cocina', 'Kitchen')
    +word('Sótano', 'Basement')
    +word('Bodega', 'Cellar')
    +word('Ático', 'Attic')
    +word('Estudio', 'Study')
    +word('Toilette', 'Toilet')
    +word('Puerta', 'Door')
    +word('Timbre', 'Doorbell')
    +word('Felpudo', 'Doormat')
    +word('Buzón', 'Letter box')
    +word('Ventana', 'Window')
    +word('Techo', 'Roof')
    +word('Chimenea', 'Chimney')
    +word('Escalera', 'Staircase, stairs')
    +word('Departamento', 'Flat (GB)')
    +word('Departamento', 'Apartment (US)')
    +word('Mesa', 'Table')
    +word('Silla', 'Chair')
    +word('Sillón', 'Armchair')
    +word('Sofá', 'Sofa')
    +word('Piso', 'Floor')
    +word('Techo', 'Ceiling')
    +word('Alfombra', 'Rug')
    +word('Alfombra fija', 'Carpet')
    +word('Chimenea', 'Fireplace')
    +word('Radiador', 'Radiator')
    +word('Lámpara', 'Lamp')
    +word('Luz', 'Light')
    +word('Cortina', 'Curtain')
    +word('Pared', 'Wall')
    +word('Papel de pared', 'Wallpaper')
    +word('Televisor', 'Television')
    +word('Heladera', 'Fridge')
    +word('Horno', 'Oven')
    +word('Horno de microondas', 'Microwave oven')
    +word('Lavavajillas', 'Dishwasher')
    +word('Lavaropas', 'Washing machine')
    +word('Tabla de planchar', 'Ironing board')
    +word('Tostadora', 'Toaster')
    +word('Licuadora', 'Liquidizer (GB)')
    +word('Licuadora', 'Blender (US)')
    +word('Batidora', 'Mixer')
    +word('Escoba', 'Broom')
    +word('Pileta', 'Sink')
    +word('Canilla', 'Tap')
    +word('Tacho de basura', 'Waste bin')
    +word('Mesada', 'Worktop')
    +word('Repasador', 'Tea towel')
    +word('Sartén', 'Frying pan')
    +word('Cacerola', 'Saucepan')
    +word('Olla a presión', 'Pressure cooker')
    +word('Pava', 'Kettle')
    +word('Bol', 'Bowl')
    +word('Abrelatas', 'Tin opener')
    +word('Sacacorchos', 'Corkscrew')
    +word('Tenedor', 'Fork')
    +word('Cuchillo', 'Knife')
    +word('Cuchara', 'Spoon')
    +word('Cucharita', 'Teaspoon')
    +word('Cajón de los cubiertos', 'Cutlery drawer')
    +word('Taza', 'Cup')
    +word('Vaso', 'Glass')
    +word('Plato', 'Saucer')
    +word('Jarra', 'Jug')
    +word('Jarra para café', 'Coffeepot')
    +word('Cafetera', 'Coffee maker')
    +word('Tetera', 'Teapot')
    +word('Mantel', 'Tablecloth')
    +word('Servilleta', 'Napkin')
    +word('Bañera', 'Bath')
    +word('Ducha', 'Shower')
    +word('Inodoro', 'Toilet')
    +word('Bidet', 'Bidet')
    +word('Lavabo, lavatorio', 'Washbasin')
    +word('Canilla', 'Tap')
    +word('Espejo', 'Mirror')
    +word('Jabón', 'Soap')
    +word('Jabonera', 'Soap dish')
    +word('Toalla', 'Towel')
    +word('Toallero', 'Towel rail')
    +word('Alfrombra de baño', 'Bath mat')
    +word('Papel higiénico', 'Toilet paper')
    +word('Esponja', 'Sponge')
    +word('Peine', 'Comb')
    +word('Cepillo', 'Hairbrush')
    +word('Secador de pelo', 'Hair dryer')
    +word('Champú', 'Shampoo')
    +word('Crema de enjuague', 'Conditioner')
    +word('Afeitadora', 'Safety razor')
    +word('Afeitadora eléctrica', 'Safety razor')
    +word('Crema de afeitar', 'Shaving foam')
    +word('Cepillo de dientes', 'Toothbrush')
    +word('Dentrífico', 'Toothpaste')
    +word('Cepillo de uñas', 'Nailbrush')
    +word('Cama', 'Bed')
    +word('Mesita de luz', 'Bedsite table')
    +word('Lámpara', 'Bedside lamp')
    +word('Guardarropa', 'Wardrobe')
    +word('Cajonera', 'Chest of drawers')
    +word('Cajones', 'Drawers')
    +word('Colchón', 'Mattress')
    +word('Almohada', 'Pillow')
    +word('Manta', 'Blanket')
    +word('Sábana', 'Sheet')
    +word('Edredón', 'Duvet')
    +word('Colcha', 'Bedspread')
    +word('Reloj despertador', 'Alarm clock')