extends /includes/template.pug

append config
  -pageTitle = 'Home'
  -title = 'English Vocabulary'
  -descriptionIndex = true

block main
  +type('Alphabet')
  +type('Common Verbs')
  +type('Regular Verbs')
  +type('Irregular Verbs')
  +type('Personal Pronouns')
  +type('Interrogative Adverbs')
  +type('Adverbs of Place')
  +type('In On At')
  +type('Possessive Adjectives')
  +type('Adverbs of Time')
  +type('Colors')
  +type('Adverbs of Manner')
  +type('Ordinal Numbers')
  +type('Conjunctions')
  +type('Adjectives')
  +type('Numbers')
  +type('Calendar')
  +type('Time')
  +type('Family')
  +type('City')
  +type('Animals')
  +type('Food')
  +type('Body')
  +type('Sports')
  +type('Hobbies')
  +type('Home')
  +type('Profession')
  +type('Shops')
  +type('Clothes')
  +type('Traveling')
  +type('Describing Places')
  +type('Places to Visit')
  +type('Activities')
  +type('Technology')
  +type('Agriculture')
  +type('Arts')
  +type('Universe')
  +type('Business')
  +type('Computing')
  +type('Mathematics')
  +type('Finances')
  +type('Office')
  +type('Nature')
  +type('Electronics')
  +type('Engineering')
  +type('Construction')
  +type('Law')
  +type('Mining')
  +type('Phrasal Verbs')
  +type('Other Vocabulary')
  +type('Other Vocabulary 2')
  +type('Other Vocabulary 3')