extends /includes/template.pug

append config
  -pageTitle = 'Interrogative Adverbs'

block main
  include /includes/table.pug
    +word('Qué, cuál', 'What')
    +word('Qué, cuál', 'Which')
    +word('Dónde', 'Where')
    +word('Cuándo', 'When')
    +word('Por qué', 'Why')
    +word('Quién', 'Who')
    +word('A quién', 'Whom')
    +word('De quién', 'Whose')
    +word('Cómo, cuán, qué tan', 'How')
    +word('Cuántos (as)', 'How many')
    +word('Cuánto (a)', 'How much')