extends /includes/template.pug

append config
  -pageTitle = 'Irregular Verbs'

block main
  include /includes/table.pug
    +word('Surgir, Levantarse', 'Arise', 'Arose', 'Arisen')
    +word('Despertarse', 'Awake', 'Awoke', 'Awoken')
    +word('Ser, estar', 'Be', 'Was, were', 'Been')
    +word('Soportar, dar a luz', 'Bear', 'Bore', 'Born')
    +word('Golpear', 'Beat', 'Beat', 'Beaten')
    +word('Llegar a ser', 'Become', 'Became', 'Become')
    +word('Doblar', 'Bend', 'Bent', 'Bent')
    +word('Apostar', 'Bet', 'Bet', 'Bet')
    +word('Atar, encuadernar', 'Bind', 'Bound', 'Bound')
    +word('Pujar', 'Bid', 'Bid', 'Bid')
    +word('Morder', 'Bite', 'Bit', 'Bitten')
    +word('Sangrar', 'Bleed', 'Bled', 'Bled')
    +word('Soplar', 'Blow', 'Blew', 'Blown')
    +word('Romper', 'Break', 'Broke', 'Broken')
    +word('Criar', 'Breed', 'Bred', 'Bred')
    +word('Traer, llevar', 'Bring', 'Brought', 'Brought')
    +word('Emisión', 'Broadcast', 'Broadcast', 'Broadcast')
    +word('Edificar', 'Build', 'Built', 'Built')
    +word('Quemar', 'Burn', 'Burned', 'Burned')
    +word('Reventar', 'Burst', 'Burst', 'Burst')
    +word('Comprar', 'Buy', 'Bought', 'Bought')
    +word('Arrojar', 'Cast', 'Cast', 'Cast')
    +word('Coger', 'Catch', 'Caught', 'Caught')
    +word('Venir', 'Come', 'Came', 'Come')
    +word('Costar', 'Cost', 'Cost', 'Cost')
    +word('Cortar', 'Cut', 'Cut', 'Cut')
    +word('Elegir', 'Choose', 'Chose', 'Chosen')
    +word('Agarrarse', 'Cling', 'Clung', 'Clung')
    +word('Arrastrarse', 'Creep', 'Crept', 'Crept')
    +word('Tratar', 'Deal', 'Dealt', 'Dealt')
    +word('Cavar', 'Dig', 'Dug', 'Dug')
    +word('Dibujar', 'Draw', 'Drew', 'Drawn')
    +word('Soñar', 'Dream', 'Dreamed', 'Dreamed')
    +word('Beber', 'Drink', 'Drank', 'Drunk')
    +word('Conducir', 'Drive', 'Drove', 'Driven')
    +word('Comer', 'Eat', 'Ate', 'Eaten')
    +word('Caer', 'Fall', 'Fell', 'Fallen')
    +word('Alimentar', 'Feed', 'Fed', 'Fed')
    +word('Sentir', 'Feel', 'Felt', 'Felt')
    +word('Luchar', 'Fight', 'Fought', 'Fought')
    +word('Encontrar', 'Find', 'Found', 'Found')
    +word('Huir', 'Flee', 'Fled', 'Fled')
    +word('Volar', 'Fly', 'Flew', 'Flown')
    +word('Prohibir', 'Forbid', 'Forbade', 'Forbidden')
    +word('Olvidar', 'Forget', 'Forgot', 'Forgotten')
    +word('Perdonar', 'Forgive', 'Forgave', 'Forgiven')
    +word('Helar', 'Freeze', 'Froze', 'Frozen')
    +word('Obtener', 'Get', 'Got', 'Got, Gotten')
    +word('Dar', 'Give', 'Gave', 'Given')
    +word('Ir', 'Go', 'Went', 'Gone')
    +word('Crecer', 'Grow', 'Grew', 'Grown')
    +word('Moler', 'Grind', 'Ground', 'Ground')
    +word('Colgar', 'Hang', 'Hung', 'Hung')
    +word('Tener, haber', 'Have', 'Had', 'Had')
    +word('Oír', 'Hear', 'Heard', 'Heard')
    +word('Ocultar', 'Hide', 'Hid', 'Hidden')
    +word('Golpear', 'Hit', 'Hit', 'Hit')
    +word('Sostener', 'Hold', 'Held', 'Held')
    +word('Herir', 'Hurt', 'Hurt', 'Hurt')
    +word('Conservar', 'Keep', 'Kept', 'Kept')
    +word('Saber, conocer', 'Know', 'Knew', 'Known')
    +word('Arrodillarse', 'Kneel', 'Knelt', 'Knelt')
    +word('Tejer', 'Knit', 'Knit', 'Knit')
    +word('Poner', 'Lay', 'Laid', 'Laid')
    +word('Liderar', 'Lead', 'Led', 'Led')
    +word('Apoyarse', 'Lean', 'Leant', 'Leant')
    +word('Brincar', 'Leap', 'Leapt', 'Leapt')
    +word('Aprender', 'Learn', 'Learned', 'Learned')
    +word('Dejar', 'Leave', 'Left', 'Left')
    +word('Prestar', 'Lend', 'Lent', 'Lent')
    +word('Permitir', 'Let', 'Let', 'Let')
    +word('Mentir', 'Lie', 'Lay', 'Lain')
    +word('Encender', 'Light', 'Lit', 'Lit')
    +word('Perder', 'Lose', 'Lost', 'Lost')
    +word('Hacer', 'Do', 'Did', 'Done')
    +word('Significar', 'Mean', 'Meant', 'Meant')
    +word('Encontrar (reunirse)', 'Meet', 'Met', 'Met')
    +word('Equivocar', 'Mistake', 'Mistook', 'Mistaken')
    +word('Vencer', 'Overcome', 'Overcame', 'Overcome')
    +word('Pagar', 'Pay', 'Paid', 'Paid')
    +word('Poner', 'Put', 'Put', 'Put')
    +word('Leer', 'Read', 'Read', 'Read')
    +word('Montar', 'Ride', 'Rode', 'Ridden')
    +word('Llamar', 'Ring', 'Rang', 'Rung')
    +word('Levantarse (subir)', 'Rise', 'Rose', 'Risen')
    +word('Correr', 'Run', 'Ran', 'Run')
    +word('Decir', 'Say', 'Said', 'Said')
    +word('Ver', 'See', 'Saw', 'Seen')
    +word('Buscar', 'Seek', 'Sought', 'Sought')
    +word('Vender', 'Seel', 'Sold', 'Sold')
    +word('Enviar', 'Seed', 'Sent', 'Sent')
    +word('Configurar', 'Set', 'Set', 'Set')
    +word('Coser', 'Sew', 'Sewed', 'Sewed, Sewn')
    +word('Sacudir', 'Shake', 'Shook', 'Shaken')
    +word('Esquilar', 'Shear', 'Shore', 'Shorn')
    +word('Brillar', 'Shine', 'Shone', 'Shone')
    +word('Disparar', 'Shoot', 'Shot', 'Shot')
    +word('Disparar', 'Shoot', 'Shot', 'Shot')
    +word('Mostrar', 'Show', 'Showed', 'Showed / Shown')
    +word('Encogerse', 'Shrink', 'Shrank', 'Shrunk')
    +word('Cerrar', 'Shut', 'Shut', 'Shut')
    +word('Cantar', 'Sing', 'Sang', 'Sung')
    +word('Hundir', 'Sink', 'Sank', 'Sunk')
    +word('Sentarse', 'Sit', 'Sat', 'Sat')
    +word('Dormir', 'Sleep', 'Slept', 'Slept')
    +word('Resbalar', 'Slide', 'Slid', 'Slid')
    +word('Oler', 'Smell', 'Smelt', 'Smelt')
    +word('Sembrar', 'Sow', 'Sowed', 'Sowed / Sown')
    +word('Hablar', 'Speak', 'Spoke', 'Spoken')
    +word('Acelerar', 'Speed', 'Sped', 'Sped')
    +word('Deletrear', 'Spell', 'Spelt', 'Spelt')
    +word('Hilar', 'Spin', 'Spun', 'Spun')
    +word('Escupir', 'Spit', 'Spat', 'Spat')
    +word('Dividir (partir)', 'Split', 'Split', 'Split')
    +word('Estropear', 'Spoil', 'Spoiled', 'Spoiled')
    +word('Extender', 'Spread', 'Spread', 'Spread')
    +word('Saltar', 'Spring', 'Sprang', 'Sprung')
    +word('Estar en pie', 'Stand', 'Stood', 'Stood')
    +word('Robar', 'Steal', 'Stole', 'Stolen')
    +word('Pegar, engomar', 'Stick', 'Stuck', 'Stuck')
    +word('Picar', 'Sting', 'Stung', 'Stung')
    +word('Apestar', 'Stink', 'Stank', 'Stunk')
    +word('Dar zancadas', 'Stride', 'Strode', 'Stridden')
    +word('Golpear', 'Strink', 'Struck', 'Struck')
    +word('Jurar', 'Swear', 'Swore', 'Sworn')
    +word('Sudar', 'Sweat', 'Sweat', 'Sweat')
    +word('Barrer', 'Sweep', 'Swept', 'Swept')
    +word('Hinchar', 'Swell', 'Swelled', 'Swollen')
    +word('Nadar', 'Swim', 'Swam', 'Swum')
    +word('Columpiarse', 'Swing', 'Swung', 'Swung')
    +word('Tomar', 'Take', 'Took', 'Taken')
    +word('Enseñar', 'Teach', 'Taught', 'Taught')
    +word('Rasgar', 'Tear', 'Tore', 'Torn')
    +word('Decir', 'Tell', 'Told', 'Told')
    +word('Pensar', 'Think', 'Thought', 'Thought')
    +word('Arrojar, tirar', 'Throw', 'Threw', 'Thrown')
    +word('Empujar', 'Thrust', 'Thrust', 'Thrust')
    +word('Pisar', 'Tread', 'Trod', 'Trodden')
    +word('Entender', 'Understand', 'Understood', 'Understood')
    +word('Sufrir', 'Undergo', 'Underwent', 'Undergone')
    +word('Emprender', 'Undertake', 'Undertook', 'Undertaken')
    +word('Despertarse', 'Wake', 'Woke', 'Woken')
    +word('Llevar puesto', 'Wear', 'Wore', 'Worn')
    +word('Tejer', 'Weave', 'Wove', 'Woven')
    +word('Llorar', 'Weep', 'Wept', 'Wept')
    +word('Mojar', 'Wet', 'Wet', 'Wet')
    +word('Ganar', 'Win', 'Won', 'Won')
    +word('Enrollar', 'Wind', 'Wound', 'Wound')
    +word('Retirarse', 'Withdraw', 'Withdrew', 'Withdrawn')
    +word('Exprimir', 'Wring', 'Wrung', 'Wrung')
    +word('Escribir', 'Write', 'Wrote', 'Written')
    +word('Prevenir', 'Foresee', 'Foresaw', 'Foreseen')
    +word('Derretir', 'Melt', 'Melted', 'Molten')
    +word('Entender mal', 'Misunderstand', 'Misunderstood', 'Misunderstood')
    +word('Reconstruir', 'Rebuild', 'Rebuilt', 'Rebuilt')
    +word('Librarse, zafarse', 'Rid', 'Rid', 'Rid')
    +word('Derramar', 'Shed', 'Shed', 'Shed')
    +word('Deshacer', 'Undo', 'Undid', 'Undone')
    +word('Resistir', 'Withstand', 'Withstood', 'Withstood')