extends /includes/template.pug

append config
  -pageTitle = 'Lesson 54'

block main
  include /includes/table.pug
    +word('Vaciado', 'Emptied')
    +word('Entierro', 'Burial')
    +word('Insatisfecho', 'Unmet')
    +word('Deseo, anhelo', 'Longing')
    +word('Recién, nuevamente, recientemente', 'Newly')
    +word('La mayoría, casi', 'Most')
    +word('Llevar, liderar, dirigir, conducir', 'Lead')
    +word('Permanecer, todavía, aún', 'Still')
    +word('Desenterrados', 'Dug up')
    +word('Devueltos', 'Shipped back')
    +word('Reentierro', 'Reburial')
    +word('Tumbas', 'Graves')
    +word('Creencia', 'Belief')
    +word('A través de, de un lado', 'Across')
    +word('De esas', 'Such')
    +word('Enviado', 'Shipped')
    +word('Envío', 'Shipment')
    +word('Permanecer', 'Remain')
    +word('Alrededor, cerca', 'About')
    +word('Levantar, juntar dinero', 'Raise')
    +word('Mala práctica', 'Wrongdoing')
    +word('Convertido en', 'Turned into')
    +word('Fronteras', 'Borders')
    +word('Caja cuidadosamente empacada', 'Carefully packed box')
    +word('Envío restante', 'Shipment remain')
    +word('Alrededores', 'Surroundings')
    +word('Niebla', 'Fog')
    +word('Pesado, denso', 'Heavy')
    +word('Enlazar', 'Link')
    +word('Además', 'Besides')
    +word('Botes de ferry', 'Ferry boats')
    +word('Red de seguridad', 'Safety net')
    +word('El más grande', 'Largest')
    +word('El más largo', 'Longest')
    +word('Entrada, ingreso', 'Entrance')
    +word('Exijido', 'Demanded')
    +word('Estrecho', 'Strait')