extends /includes/template.pug

append config
  -pageTitle = 'Lesson 59'

block main
  include /includes/table.pug
    +word('Arrecifes', 'Reefs')
    +word('Amenazar', 'Threaten')
    +word('Pólipos', 'Polyps')
    +word('Son hasta', 'Are up to')
    +word('En todo el mundo', 'Worldwide')
    +word('Frente a', 'Facing')
    +word('Criatura marina', 'Sea creature')
    +word('Damisela', 'Damselfish')
    +word('Investigadores', 'Researchers')
    +word('En todo', 'Throughout')
    +word('Algas', 'Algae')
    +word('Cuerno de ciervo', 'Staghorn')
    +word('Enfermedades', 'Diseases')
    +word('Ley', 'Act')
    +word('En peligro de extinción', 'Endangered')
    +word('Jardines', 'Grounds')
    +word('Tanto como', 'As well as')
    +word('Carencia', 'Lack')
    +word('Falta de', 'Lack of')
    +word('Llama la atención', 'Draws attention')
    +word('Pedregoso', 'Stony')
    +word('Liderazgo', 'Leadership')
    +word('Antillas', 'Antilles')
    +word('Preocupación', 'Concern')
    +word('Antozoos', 'Anthozoans')
    +word('Medusa', 'Jellyfish')
    +word('Anémonas', 'Anemones')
    +word('Coral caliente', 'Seafans')
    +word('Aprovecharse de', 'Seizing')
    +word('Liberado', 'Released')
    +word('Mar profundo', 'Deep-sea')
    +word('Selvas tropicales', 'Rainforests')
    +word('Bambú', 'Bamboo')
    +word('Tipo', 'Kind')
    +word('Data de', 'Dated back')
    +word('Crecimiento', 'Growth')
    +word('Supervivencia', 'Survival')