extends /includes/template.pug

append config
  -pageTitle = 'Lesson 51'

block main
  include /includes/table.pug
    +word('Relanzar', 'Relaunch')
    +word('Golpear', 'Hit')
    +word('Seguir, continuar', 'Keep trying')
    +word('Desviar', 'Derail')
    +word('Denunciar', 'Denounce')
    +word('Sagrado', 'Hallowed')
    +word('Practicar', 'Practice')
    +word('Rechazar', 'Refuse')
    +word('Adquirir', 'Purchase')
    +word('Sabiduria', 'Wisdom')