extends /includes/template.pug

append config
  -pageTitle = 'Lesson 56'

block main
  include /includes/table.pug
    +word('Más abajo', 'Far Bellow')
    +word('Cascadas', 'Waterfalls')
    +word('Herboso', 'Grassy')
    +word('Ciervos', 'Deer')
    +word('Incluso podrías', 'You might even')
    +word('Gigante', 'Giant')
    +word('Terremotos', 'Earthquakes')
    +word('Tribu', 'Tribe')
    +word('Más calido', 'Warmer')
    +word('Podría haber sido', 'May have been')
    +word('Carpas', 'Tents')
    +word('Caminos', 'Trails')
    +word('Senderos', 'Paths')
    +word('Hacia arriba', 'Straight up')
    +word('Grietas', 'Cracks')
    +word('Dirigirte', 'Way up')