extends /includes/template.pug

append config
  -pageTitle = 'Lesson 60'

block main
  include /includes/table.pug
    +word('A una edad', 'At an age')
    +word('Raro', 'Unusual')
    +word('Brotes mamarios', 'Breast buds')
    +word('Regularmente', 'Regular basis')
    +word('El doble de alto', 'Twice as high')
    +word('Orina', 'Urine')
    +word('Muestra', 'Sample')
    +word('Imitar', 'Mimic')
    +word('Interferir', 'Interfere')
    +word('Productos químicos', 'Chemicals')
    +word('Ftalatos', 'Phthalates')
    +word('Bronceadores', 'Suntan lotions')
    +word('Sincronización', 'Timing')
    +word('Maduración', 'Maturation')
    +word('Buena comprensión', 'Good grasp')