extends /includes/template.pug

append config
  -pageTitle = 'Lesson 57'

block main
  include /includes/table.pug
    +word('Ex', 'Former')
    +word('Filtró', 'Leaked out')
    +word('Según se informa', 'Reportedly')
    +word('Con vista a', 'Overlooking')
    +word('Novia', 'Bride')
    +word('Novio', 'Groom')
    +word('Recién casados', 'Newlyweds')
    +word('Escaparse con el amante', 'Elope')
    +word('Caído', 'Dropped')
    +word('Granjero', 'Farmer')
    +word('En vez de', 'Rather than')
    +word('Vestido', 'Gown')
    +word('Podría', 'Might')
    +word('Damas de honor', 'Bridesmaids')
    +word('Votos', 'Vows')
    +word('Velo', 'Veil')
    +word('Pasillo', 'Aisle')
    +word('Escoba', 'Broom')
    +word('Palo de escoba', 'Broomstick')
    +word('Tendido en el suelo', 'Laid on the ground')
    +word('En la mayoría', 'At most')
    +word('Comida', 'Meal')
    +word('Entrar en, conlleva', 'Go into')