extends /includes/template.pug

append config
  -pageTitle = 'Lesson 53'

block main
  include /includes/table.pug
    +word('Canales', 'Waterways')
    +word('Fluye', 'Flows')
    +word('Más de', 'More than')
    +word('Fuertemente', 'Heavily')
    +word('Suministro', 'Supply')
    +word('Tierra', 'Land')
    +word('Paseo en barco', 'Boating')
    +word('Excursionismo', 'Hiking')
    +word('Águila calva', 'Bald eagle')
    +word('Instó', 'Urged')
    +word('Oeste', 'West')
    +word('Este', 'East')
    +word('Palos', 'Sticks')
    +word('Al lado de', 'Next to')
    +word('Mucho antes', 'Long before')
    +word('Pieles', 'Furs')
    +word('Ferrocarril', 'Railroad')
    +word('Enorme', 'Huge')
    +word('A cada lado', 'On either side')
    +word('Asaltarlo, atacarlo', 'Raid it')
    +word('Colgado', 'Hanged')
    +word('A través de', 'Through')
    +word('El más salvaje', 'Wildest')
    +word('Cercano', 'Nearby')
    +word('Tal como, tales como', 'Such as')
    +word('Remar', 'Paddle')
    +word('Tampoco', 'Either')
    +word('Norteño', 'Northern')
    +word('Sureño', 'Southern')
    +word('Contra la esclavitud', 'Against slavery')
    +word('Vida silvestre', 'Wildlife')
    +word('Prohibido, censurado', 'Banned')
    +word('Suavamente', 'Smoothly')
    +word('Inundación', 'Flood')
    +word('Bienes, mercancías', 'Goods')
    +word('Barcazas', 'Barges')
    +word('Pasar por', 'Pass through')
    +word('Contenedores', 'Locks')
    +word('Subir', 'Raise')
    +word('Camino de sirga', 'Towpath')
    +word('Barranco', 'Gorge')
    +word('A lo largo de', 'Along')
    +word('Garza', 'Heron')
    +word('Propagar', 'Spread')
    +word('Ala', 'Wing')
    +word('Humedal', 'Wetland')
    +word('Enterrado', 'Buried')
    +word('Oveja', 'Sheep')
    +word('Cabra', 'Goat')
    +word('Colina', 'Hill')
    +word('Vista', 'Sight')
    +word('Hacia', 'Toward')
    +word('Luego', 'Then')
    +word('Pasar, aprobar', 'Pass')
    +word('Carbón', 'Coal')
    +word('Nauseabundo', 'Sickening')
    +word('Enormemente', 'Greatly')
    +word('Residuos', 'Waste')
    +word('Minas de carbón', 'Coal mines')
    +word('Contaminar', 'Pollute')
    +word('Crecimiento', 'Growth')
    +word('Dañino', 'Harmful')
    +word('Fondo', 'Bottom')
    +word('Varios', 'Several')
    +word('Llevar a cabo', 'Carry out')