extends /includes/template.pug

append config
  -pageTitle = 'Lesson 58'

block main
  include /includes/table.pug
    +word('Huracán', 'Hurricane')
    +word('Más costoso', 'Costliest')
    +word('Más mortal', 'Deadliest')
    +word('Literario', 'Literary')
    +word('Golpeó más fuerte', 'Struck harder')
    +word('Hacia', 'Toward')
    +word('En ese momento', 'At that time')
    +word('En la cima', 'At a top')
    +word('Ciclones', 'Cyclones')
    +word('Tifones', 'Typhoons')
    +word('Grueso', 'Thick')
    +word('Pared del ojo', 'Eyewall')
    +word('Rodea', 'Surrounds')
    +word('Hasta', 'Up to')
    +word('Olas', 'Waves')
    +word('Oleadas', 'Surges')
    +word('Costera', 'Coastal')
    +word('Huir', 'Flee')
    +word('Podría', 'Might')
    +word('Tripulación', 'Crew')
    +word('Paracaídas', 'Parachutes')
    +word('Templado, suave', 'Mild')
    +word('Ligero', 'Lightweight')
    +word('Golpear', 'Hit')
    +word('Amplio', 'Wide')
    +word('Vertido', 'Poured')
    +word('Abajo', 'Below')
    +word('Diques', 'Levees')
    +word('Presas', 'Dams')
    +word('Arrastrado', 'Washed away')
    +word('Participó', 'Took part')
    +word('En general', 'Overall')
    +word('Por el año', 'By the year')
    +word('Golpeado', 'Struck')