extends /includes/template.pug

append config
  -pageTitle = 'Lesson 52'

block main
  include /includes/table.pug
    +word('Asustar', 'Frighten')
    +word('Tragar', 'Swallow')
    +word('Perjudicial', 'Harmful')
    +word('Destinar, querer decir', 'Mean')
    +word('Expulsado', 'Expelled')
    +word('No más', 'No longer')
    +word('Clavada, puñalada, empuje', 'Thrust')
    +word('Atrapar', 'Trapp')
    +word('Facilidad', 'Ease')
    +word('Huesos de la cadera', 'Hipbones')
    +word('Esternón', 'Breastbone')
    +word('Interior', 'Inward')
    +word('Hacía arriba', 'Upward')
    +word('Casi ahogado', 'Almost drowned')
    +word('Reacio', 'Unwilling')
    +word('Ahogarse', 'Drown')
    +word('Fuertemente urge', 'Strongly urge')
    +word('Llevar a cabo, realizar', 'Perform')
    +word('Todavía, aún, a pesar de todo', 'Still')
    +word('Alrededores', 'Surroundings')
    +word('Vara de medir', 'Measuring stick')
    +word('Dispositivo de temporarización', 'Timing device')
    +word('Pulso cardíaco', 'Heartbeat')
    +word('Liderar, llevar a, empujar a', 'Heartbeat')
    +word('Muerte súbita', 'Sudden death')
    +word('Tal', 'Such')
    +word('Cada vez más', 'Increasingly')
    +word('Paro cardíaco', 'Heart stoppage')
    +word('Frotamiento', 'Rubbing')
    +word('Esfuerzos', 'Efforts')
    +word('Había mantenido', 'Had kept')
    +word('Además, otros', 'Further')
    +word('Además, otros, posterior, aún más', 'Further')
    +word('Acostarse', 'Lie down')
    +word('Levantar', 'Raise')
    +word('Viene a través de él', 'Raise')
    +word('A través de incluso', 'Through even')
    +word('Sanar', 'Heal')
    +word('Tranquilizador', 'Calmer')
    +word('Justa', 'Fair')