extends /includes/template.pug

append config
  -pageTitle = 'Lesson 55'

block main
  include /includes/table.pug
    +word('Establecido', 'Established')
    +word('Sólo', 'Only')
    +word('Disfrute', 'Enjoyment')
    +word('Acampar', 'Hike')
    +word('Trepar', 'Climb')
    +word('Administrar', 'Manage')
    +word('Sendero', 'Trail')
    +word('Parques grandes', 'Parkways')
    +word('Diferir', 'Differ')
    +word('Actuar, ley', 'Act')
    +word('De tal manera', 'In such manner')
    +word('Inalterado, intacto', 'Unimpaired')
    +word('Firmar, letrero', 'Sign')
    +word('Tierras de dominio federal', 'Federally owned landmark')
    +word('Por, mediante', 'By')
    +word('Comentar', 'Point out')
    +word('Paisaje', 'Landscape')
    +word('Derritiendo', 'Melting')
    +word('En otro lugar', 'Elsewhere')
    +word('Caminos', 'Trails')
    +word('Levantar, juntar dinero', 'Raise')
    +word('A través de', 'Throughout')
    +word('Cobrar', 'Charge')
    +word('Cargo de dinero, tarifa', 'Fee')
    +word('Catonaje, embalsar', 'Rafting')
    +word('Al aire libre', 'Outdoors')
    +word('Costas', 'Seashores')
    +word('Orillas del lago', 'Lakeshores')
    +word('Paisajes', 'Scenery')
    +word('En esto', 'Therein')
    +word('Por tales medios', 'By such means')
    +word('Amante de la naturaleza', 'Outdoorsman')
    +word('Antigüedades', 'Antiquities')
    +word('Puntos de referencia, marca', 'Landmarks')
    +word('Por el congreso', 'By congress')
    +word('Portavoz', 'Spokesman')
    +word('Estímulo', 'Stimulus')