extends /includes/template.pug

append config
  -pageTitle = 'Mining'

block main
  include /includes/table.pug
    +word('Fusión', 'Amalgamation')
    +word('Aparato', 'Apparatus')
    +word('Atmósfera', 'Atmosphere')
    +word('Auxiliar', 'Auxiliary')
    +word('Broca', 'Bit')
    +word('Voladora, haciendo explosión', 'Blasting')
    +word('Perforación', 'Borehole')
    +word('Jaula', 'Cage')
    +word('Cápsula', 'Capsule')
    +word('Carbono', 'Carbon')
    +word('Anhídrico carbónico, dióxido de carbono', 'Carbon dioxide')
    +word('Derrumbarse, hundirse', 'Cave in')
    +word('Cavidad', 'Cavity')
    +word('Carbón', 'Cavity')
    +word('Transportador', 'Conveyor')
    +word('Cobre', 'Copper')
    +word('Núcleo, base', 'Core')
    +word('Peligro', 'Danger')
    +word('Reducir, agotar', 'Deplete')
    +word('Yacimiento, depósito', 'Deposit')
    +word('Profundidad', 'Depth')
    +word('Detonar, explotar', 'Detonate')
    +word('Desarrollo', 'Develpment')
    +word('Diamante', 'Diamond')
    +word('Drenaje', 'Drainage')
    +word('Taladro', 'Drill')
    +word('Seco(a)', 'Dry')
    +word('Dinamita', 'Dynamite')
    +word('Entrada', 'Entrance')
    +word('Medio ambiente', 'Environment')
    +word('Equipo', 'Equipment')
    +word('Excavación', 'Excavation')
    +word('Agotar', 'Exhaust')
    +word('Explotar', 'Exploit')
    +word('Explorar', 'Explore')
    +word('Explosión', 'Explosion')
    +word('Frente, cara', 'Face')
    +word('Fisura', 'Fissure')
    +word('Fractura', 'Fracture')
    +word('Combustible', 'Fuel')
    +word('Gas', 'Gas')
    +word('Equipo, pertrechos', 'Gear')
    +word('Geoda', 'Geode')
    +word('Geólogo', 'Geologist')
    +word('Viga', 'Girder')
    +word('Oro', 'Gold')
    +word('Granito', 'Granite')
    +word('Casco', 'Helmet')
    +word('Grúa', 'Hoist')
    +word('Hoyo', 'Hole')
    +word('Impuro(a)', 'Impure')
    +word('Mineral de hierro', 'Iron ore')
    +word('Linterna', 'Lamp')
    +word('Plomo', 'Lead')
    +word('Nivel', 'Level')
    +word('Caliza', 'Limestone')
    +word('Litio', 'Lithium')
    +word('Veta', 'Lode')
    +word('De calidad inferior', 'Low-grade')
    +word('Mina, explotación', 'Mine')
    +word('Minero(a)', 'Miner')
    +word('Estrecho, angosto', 'Narrow')
    +word('Mena, mineral', 'Ore')
    +word('Pilar', 'Pillar')
    +word('Cateo', 'Prospecting')
    +word('Calidad', 'Quality')
    +word('Cantera', 'Quarry')
    +word('Cuarzo', 'Quartz')
    +word('Rescate', 'Rescue')
    +word('Roca', 'Rock')
    +word('Soga', 'Rope')
    +word('Seguridad', 'Safety')
    +word('Sedimento', 'Sediment')
    +word('Pozo', 'Shaft')
    +word('Plata', 'Silver')
    +word('Sólido(a)', 'Solid')
    +word('Pendiente', 'Slope')
    +word('Estrato', 'Stratum')
    +word('Equipo', 'Team')
    +word('Empuje', 'Thrust')
    +word('Túnel', 'Tunnel')
    +word('Subterráneo', 'Underground')
    +word('Veta', 'Vein')
    +word('Ventilación', 'Ventilation')