extends /includes/template.pug

append config
  -pageTitle = 'Numbers'

block main
  include /includes/table.pug
    +word('One', 1)
    +word('Two', 2)
    +word('Three', 3)
    +word('Four', 4)
    +word('Five', 5)
    +word('Six', 6)
    +word('Seven', 7)
    +word('Eight', 8)
    +word('Nine', 9)
    +word('Ten', 10)
    +word('Eleven', 11)
    +word('Twelve', 12)
    +word('Thirteen', 13)
    +word('Fourteen', 14)
    +word('Fiveteen', 15)
    +word('Sixteen', 16)
    +word('Seventeen', 17)
    +word('Eighteen', 18)
    +word('Nineteen', 19)
    +word('Twenty', 20)
    +word('Twenty-one', 21)
    +word('Twenty-two', 22)
    +word('Twenty-three', 23)
    +word('Twenty-four', 24)
    +word('Twenty-five', 25)
    +word('Twenty-six', 26)
    +word('Twenty-seven', 27)
    +word('Twenty-eight', 28)
    +word('Twenty-nine', 29)
    +word('Thirty', 30)
    +word('Forty', 40)
    +word('Fifty', 50)
    +word('Sixty', 60)
    +word('Seventy', 70)
    +word('Eighty', 80)
    +word('Ninety', 90)
    +word('One hundred', 100)
    +word('Two hundred', 200)
    +word('Three hundred', 300)
    +word('Four hundred', 400)
    +word('Five hundred', 500)
    +word('One thousand', 1000)
    +word('Fifteen hundred', 1500)
    +word('Eighteen sixty-five', 1865)
    +word('Five thousand', 5000)
    +word('Ten thousand', '10.000')
    +word('Fifteen thousand six hundred and fifty-three', '15.653')
    +word('Eighty thousand', '80.000')
    +word('A hundred thousand', '100.000')
    +word('A hundred and forty-nine thousand two hundred and sixty-three', '149.263')
    +word('One million', '1.000.000')
    +word('Ten million', '10.000.000')
    +word('Three hundred and sixty-five million two hundred and thirty-six thousand seven hundred and eighty-one', '365.236.781')
    +word('One billion', '1.000.000.000')