extends /includes/template.pug

append config
  -pageTitle = 'Ordinal Numbers'

block main
  include /includes/table.pug
    +word('Primero', 'First')
    +word('Segundo', 'Second')
    +word('Tercero', 'Third')
    +word('Cuarto', 'Fourth')
    +word('Quinto', 'Fifth')
    +word('Sexto', 'Sixth')
    +word('Séptimo', 'Seventh')
    +word('Octavo', 'Eighth')
    +word('Noveno', 'Ninth')
    +word('Décimo', 'Tenth')
    +word('Undécimo', 'Eleventh')
    +word('Duodécimo', 'Twelveth')
    +word('Décimotercero', 'Thirteenth')
    +word('Décimocuarto', 'Fourteenth')
    +word('Décimoquinto', 'Fifteenth')
    +word('Décimosexto', 'Sixteenth')
    +word('Décimoséptimo', 'Seventeenth')
    +word('Décimoctavo', 'Eighteenth')
    +word('Décimonoveno', 'Nineteenth')
    +word('Vigésimo', 'Twentieth')
    +word('Vigésimo primero', 'Twenty-first')
    +word('Vigésimo segundo', 'Twenty-second')
    +word('Vigésimo tercero', 'Twenty-third')
    +word('Vigésimo cuarto', 'Twenty-fourth')
    +word('Vigésimo quinto', 'Twenty-fifth')
    +word('Vigésimo sexto', 'Twenty-sixth')
    +word('Vigésimo séptimo', 'Twenty-seventh')
    +word('Vigésimo octavo', 'Twenty-eighth')
    +word('Vigésimo noveno', 'Twenty-ninth')
    +word('Trigésimo', 'Thirtieth')
    +word('Cuadragésimo', 'Fortieth')
    +word('Quincuagésimo', 'Fiftieth')
    +word('Septuagésimo', 'Seventieth')
    +word('Octogésimo', 'Eightieth')
    +word('Centésimo', 'Hundredth')
    +word('Milésimo', 'Thousandth')
    +word('Millonésimo', 'Millionth')