extends /includes/template.pug

append config
  -pageTitle = 'Other Vocabulary 3'

block main
  p.note #[span Nota:] En esta página se va a colocar vocabulario random que he coleccionado por mi cuenta y que posiblemente no este en los otros vocabularios. Seguramente muchas de estas palabras podrían estar en los otros tipos de vocabularios específicos, sin embargo, por el momento se dejarán aquí porque se van colocando más palabras a medida que pase el tiempo.

  include /includes/table.pug
    +word('Aplanar', 'Flatten')
    +word('Acusado', 'Convicted')
    +word('Inmune', 'Immune')
    +word('Escombros, ruinas', 'Debris')
    +word('De otra manera', 'Otherwise')
    +word('Acertijos', 'Riddles')
    +word('Hipo', 'Hiccups')
    +word('Permitirse', 'Afford')
    +word('Extensamente', 'Widely')
    +word('Cambio, desplazarse', 'Shift')
    +word('Audaz', 'Fearless')
    +word('Saludo', 'Salute')
    +word('Sutil', 'Subtle')
    +word('Arcoiris', 'Rainbow')
    +word('Pozos', 'Wells')
    +word('En total', 'Altogether')
    +word('Ligeramente', 'Slightly')
    +word('Cualquiera de los dos', 'Either')
    +word('Terminar las cosas', 'Get things done')
    +word('Ordenado, pulcro', 'Neat')
    +word('Lágrima', 'Tear')
    +word('Demoler', 'Tear down')
    +word('Giro', 'Whirl')
    +word('Desierto', 'Wilderness')
    +word('Sin unidad', 'Unitless')
    +word('Artificial', 'Contrived')
    +word('Cierto es que', 'Admittedly')
    +word('Brocheta', 'Kebak')
    +word('Preparar', 'Set up')
    +word('Área de aseo, baño', 'Restroom')
    +word('Raro', 'Unusual')
    +word('Desayuno', 'Breakfast')
    +word('Almuerzo', 'Lunch')
    +word('Consultas', 'Inquiries')
    +word('Maravillas', 'Wonders')
    +word('Desencadenar', 'Trigger')
    +word('De este modo', 'Thereby')
    +word('Repaso', 'Review')
    +word('Dar una vuelta', 'Walk around')
    +word('Vislumbrar', 'Glimpse')
    +word('Vacilar', 'Hesitate')
    +word('También lo hace', 'So does')
    +word('Aburrimiento', 'Boredom')
    +word('Manual', 'Handbook')
    +word('Sumergirse', 'Dive into')
    +word('Torpe', 'Clunky')
    +word('Desorden', 'Clutter')
    +word('Tambor', 'Drum')
    +word('Almohadilla', 'Pad')
    +word('Inconscientemente', 'Unwittingly')
    +word('Gráfico de dispersión', 'Scatter Plot')
    +word('Se asemeja', 'Resembles')
    +word('Mal interpretado', 'Misconstrued')
    +word('Factible', 'Feasible')
    +word('Malísimo', 'Lousy')
    +word('A la medida', 'Tailored')
    +word('Tener ganas', 'To look forward to')
    +word('Maleta', 'Suitcase')
    +word('Traje de baño', 'Swimsuit')
    +word('Andamio', 'Scaffold')
    +word('Perder el tiempo', 'Mess around')
    +word('Estropear', 'Mess up')
    +word('Limitaciones', 'Constrains')
    +word('puntos en común', 'commonalities')
    +word('preciso', 'accurate')
    +word('piel de gallina', 'goosebumps')
    +word('pesado', 'unwieldy')
    +word('desorden', 'clutty')
    +word('incursión', 'foray')
    +word('buena voluntad', 'goodwill')