extends /includes/template.pug

append config
  -pageTitle = 'Other Vocabulary'

block main
  p.note #[span Nota:] En esta página se va a colocar vocabulario random que he coleccionado por mi cuenta y que posiblemente no este en los otros vocabularios. Seguramente muchas de estas palabras podrían estar en los otros tipos de vocabularios específicos, sin embargo, por el momento se dejarán aquí porque se van colocando más palabras a medida que pase el tiempo.

  include /includes/table.pug
    +word('Tiempo libre', 'Spare time')
    +word('Hacer mandados', 'Do errands')
    +word('Ladrón', 'Thief')
    +word('En ninguna parte', 'Nowhere')
    +word('Consciente', 'Aware')
    +word('Falla', 'Flaw')
    +word('Cruzar', 'Come across')
    +word('Breve', 'Brief')
    +word('Llegar también, venir también', 'Come along')
    +word('Considerado', 'Deemed')
    +word('Mutilar', 'Mangle')
    +word('Apilar', 'Stack')
    +word('Hacia arriba', 'Upwards')
    +word('Borrosa', 'Blurry')
    +word('Solución', 'Workaround')
    +word('Agarrar', 'Grab up')
    +word('Buscar', 'Seek out')
    +word('Caer', 'Fall down')
    +word('Bajarse', 'Get off')
    +word('Merodiar', 'Wonder around')
    +word('Quebrarse', 'Break down')
    +word('Forma', 'Shape')
    +word('Compensar', 'Offset')
    +word('Acortar', 'Clip')
    +word('Adicional, más allá', 'Further')
    +word('Mezcla', 'Blend')
    +word('Brevedad', 'Brevity')
    +word('Despegar', 'Blast off')
    +word('Rendimiento', 'Throughput')
    +word('Estropear', 'Mess up')
    +word('Flaco', 'Skinny')
    +word('Casi', 'Nearly')
    +word('Para ese entonces', 'Back then')
    +word('Ahí es justo', 'That\'s exactly when')
    +word('Bien', 'Pretty')
    +word('Bastante', 'Quite')
    +word('Junto a', 'Alongside')
    +word('Compañero', 'Fellow')
    +word('Perspicaz', 'Insightful')
    +word('Ideas', 'Insights')
    +word('Sencillo', 'Straightforward')
    +word('Hasta aquí', 'So far')
    +word('Objetivo', 'Aim')
    +word('Por decirlo así', 'As it were')
    +word('Aunque', 'Even though')
    +word('Tachado', 'Strikethrough')
    +word('Destacar', 'Stand out')
    +word('Miniatura', 'Thumbnail')
    +word('Lugar', 'Spot')
    +word('Hacia abajo', 'Downwards')
    +word('Igualmente', 'Likewise')
    +word('Independientemente', 'Regardless')
    +word('Impedimentos', 'Impairment')
    +word('Entre otros', 'Among others')
    +word('Motivo', 'Sake')
    +word('Llega a mí', 'Reach out to me')
    +word('Permitirse, darse el lujo', 'Affort')
    +word('Lucha', 'Struggle')
    +word('Sabio, prudente', 'Wise')
    +word('Presumir', 'Show off')
    +word('Formulario de encuesta', 'Survey form')
    +word('Envío rápido', 'Fast shipping')
    +word('En marcha', 'Ongoing')
    +word('Declaración', 'Statement')
    +word('Perforación', 'Drilling')
    +word('Una forma de salir de este desastre', 'A way out of this mess')
    +word('Poderoso', 'Mighty')
    +word('Tutorial', 'Walkthrough')