extends /includes/template.pug

append config
  -pageTitle = 'Other Vocabulary 2'

block main
  p.note #[span Nota:] En esta página se va a colocar vocabulario random que he coleccionado por mi cuenta y que posiblemente no este en los otros vocabularios. Seguramente muchas de estas palabras podrían estar en los otros tipos de vocabularios específicos, sin embargo, por el momento se dejarán aquí porque se van colocando más palabras a medida que pase el tiempo.

  include /includes/table.pug
    +word('Ira, colera', 'Wrath')
    +word('Despegar', 'Liftoff')
    +word('Atascarse', 'Get stuck')
    +word('Cuociente', 'Quotient')
    +word('Precisamente', 'Accurately')
    +word('Residuo', 'Remainder')
    +word('Par', 'Even')
    +word('Impar', 'Odd')
    +word('Compuesto', 'Compound')
    +word('Aumentado', 'Augmented')
    +word('Fabuloso', 'Bodacious')
    +word('Zapatillas de casa', 'House slippers')
    +word('Estreno', 'Premiere')
    +word('Inquebrantable', 'Unwareving')
    +word('Escudo', 'Shield')
    +word('Perfecto', 'Flawless')
    +word('Libremente', 'Freely')
    +word('De otra manera', 'Otherwise')
    +word('Para que', 'So that')
    +word('Cualquiera de los dos', 'Either')
    +word('Cumplir', 'Fulfill')
    +word('Agujero', 'Hole')
    +word('Golpes', 'Strokes')
    +word('Es posible que no puedas', 'You may not be able to')
    +word('Encontrado', 'Encountered')
    +word('Me extrañaste tanto', 'Missed me by this much')
    +word('Muy fresco', 'Way cool')
    +word('Cubierta', 'Deck')
    +word('Excesivo', 'Over the top')
    +word('Adelante', 'Onwards')
    +word('Mirar', 'Look at')
    +word('Rebotar', 'Pump up')
    +word('Más bien que', 'Rather than')
    +word('Lanzamiento', 'Release')
    +word('Recuperar', 'Retrieve')
    +word('Frijoles', 'Beans')
    +word('Hacia atrás', 'Backwards')
    +word('Siempre y cuando', 'So long as')
    +word('Intercambiar', 'Swap')
    +word('Para que', 'So that')
    +word('Ordenado, pulcro', 'Neat')
    +word('En primer lugar', 'Firstly')
    +word('En segundo lugar', 'Secondly')
    +word('En total, en conjunto, completamente', 'Altogether')
    +word('En total', 'Altogether')
    +word('Completamente desarrollado', 'Full-fledged')
    +word('Transbordador espacial', 'Space shuttle')
    +word('Ni siquiera', 'Do not even')
    +word('Lejos', 'Far out')
    +word('Así es como', `Here's how`)
    +word('Para hacerlo', 'To do so')
    +word('Cumplir, realizar', 'Fulfill')
    +word('Perseguir', 'Chase')
    +word('También', 'As well')
    +word('Mirar', 'Look')
    +word('Anexar, añadir', 'Append')
    +word('Me falta', 'I miss')
    +word('Deber', 'Duty')
    +word('Periodo', 'Wildcard')
    +word('Error de ortografía', 'Misspelling')
    +word('Incorporado', 'Built-in')
    +word('Muestra', 'Sample')
    +word('Guión', 'Hyphen')
    +word('Codicioso', 'Greedy')
    +word('Perezoso', 'Lazy')
    +word('Fuera de', 'Outta')
    +word('Vista, visión', 'Outta')
    +word('Leve', 'Slight')
    +word('Mirar hacia el futuro', 'Lookahead')
    +word('Artístico', 'Artsy')
    +word('Hacerte tropezar', 'Trip you up')
    +word('Acechar', 'Lurk')
    +word('Meterse en', 'Get into')
    +word('Depender de', 'Rely on')
    +word('Surgir', 'Crop up')
    +word('Exterior', 'Outer')
    +word('Temido', 'Dreaded')
    +word('Violencia', 'Mayhem')
    +word('Para un propósito dado', 'For a given purpose')
    +word('Entre', 'Among')
    +word('Casi', 'Nearly')
    +word('Interminable', 'Endless')
    +word('Abastecer', 'Cater')
    +word('Como tal', 'As such')
    +word('Retoques', 'Touchup')
    +word('Cada uno de los cuales', 'Each of which')
    +word('Inaudito', 'Unheard')
    +word('AL igual que', 'Like so')
    +word('Ligeramente', 'Slightly')
    +word('Abordar', 'Tackling')
    +word('Trozos', 'Chunks')
    +word('Basura', 'Junk')
    +word('Maletero', 'Trunk')
    +word('Moda', 'Fad')
    +word('Acierto', 'Bullseye')
    +word('Fornido', 'Chunky')
    +word('Trampa', 'Pitfall')
    +word('Plano', 'Blueprint')
    +word('No volador', 'Flightless')
    +word('Aislado', 'Isolated')
    +word('Estado anímico', 'Mood')
    +word('Cambio de humor', 'Mood swing')
    +word('Peligros', 'Hazards')
    +word('Siligioso', 'Sneaky')