extends /includes/template.pug

append config
  -pageTitle = 'Personal Pronouns'

block main
  include /includes/table.pug
    +word('Yo', 'I')
    +word('Tú', 'You')
    +word('Él', 'He')
    +word('Ella', 'She')
    +word('(Neutro)', 'It')
    +word('Nosotros, nosotras', 'We')
    +word('Ustedes, vosotros', 'You')
    +word('Ellos, ellas', 'They')