extends /includes/template.pug

append config
  -pageTitle = 'Places to Visit'

block main
  include /includes/table.pug
    +word('Parque de atracciones', 'Amusement park')
    +word('Museo', 'Museum')
    +word('Galeria de arte', 'Art gallery')
    +word('Cine', 'Cinema')
    +word('Parque acuático', 'Water park')
    +word('Acuario', 'Aquarium')
    +word('Playa', 'Beach')
    +word('Restaurante', 'Restaurant')
    +word('Club nocturno', 'Nightclub')
    +word('Bar', 'Bar')
    +word('Mini golf', 'Minuature golf')
    +word('Isla', 'Island')
    +word('Asilo animal', 'Animal sanctuary')
    +word('Parque nacional', 'National park')
    +word('Zoológico', 'Zoo')