extends /includes/template.pug

append config
  -pageTitle = 'Possessive Adjectives'

block main
  include /includes/table.pug
    +word('Mi', 'My')
    +word('Tu, tus', 'Your')
    +word('Su (de él)', 'His')
    +word('Su (de ella)', 'Her')
    +word('Su (del neutro)', 'Its')
    +word('Nuestro, nuestra', 'Our')
    +word('Su, sus', 'Your')
    +word('Su, sus (de ellos)', 'Your')