extends /includes/template.pug

append config
  -pageTitle = 'Profession'

block main
  include /includes/table.pug
    +word('Abogado', 'Lawyer')
    +word('Actor, actriz', 'Actor, actress')
    +word('Aduanero', 'Customs officer')
    +word('Agricultor', 'Farmer')
    +word('Albañil', 'Builder')
    +word('Arquitecto', 'Architect')
    +word('Asesor', 'Consultant')
    +word('Astronauta', 'Astronaut')
    +word('Azafata', 'Air hostess')
    +word('Basurero', 'Dustman')
    +word('Bombero', 'Fireman')
    +word('Camarero', 'Waiter')
    +word('Camarera', 'Waitress')
    +word('Camionero', 'Lorry driver')
    +word('Cantante', 'Singer')
    +word('Capataz', 'Foreman')
    +word('Carnicero', 'Butcher')
    +word('Cartero', 'Postman')
    +word('Científico', 'Scientist')
    +word('Cirujano', 'Surgeon')
    +word('Cocinero', 'Cook')
    +word('Conductor', 'Driver')
    +word('Contable', 'Accountant')
    +word('Criado', 'Servant')
    +word('Sacerdote', 'Priest')
    +word('Dentista', 'Dentist')
    +word('Dependiente', 'Shop assistant')
    +word('Electricista', 'Electrician')
    +word('Empleado', 'Employee')
    +word('Empleado de banco', 'Bank clerk')
    +word('Enfermera, enfermero', 'Nurse')
    +word('Escritor', 'Writer')
    +word('Estudiante', 'Student')
    +word('Farmacéutico', 'Chemist')
    +word('Fontanero', 'Plumber')
    +word('Granjero', 'Farmer')
    +word('Ingeniero', 'Engineer')
    +word('Jardinero', 'Gardener')
    +word('Joyero', 'Jeweller')
    +word('Juez', 'Judge')
    +word('Librero', 'Bookseller')
    +word('Marinero', 'Sailor')
    +word('Médico', 'Doctor')
    +word('Mecánico', 'Mechanic')
    +word('Minero', 'Miner')
    +word('Modelo', 'Model')
    +word('Monitor', 'Instructor')
    +word('Monje', 'Monk')
    +word('Monja', 'Nun')
    +word('Niñera', 'Nanny')
    +word('Obrero', 'Labourer')
    +word('Oficinista', 'Office worker')
    +word('Panadero', 'Baker')
    +word('Pastor', 'Shepherd')
    +word('Peluquero', 'Hairdresser')
    +word('Periodista', 'Journalist')
    +word('Pescador', 'Fisherman')
    +word('Piloto', 'Pilot')
    +word('Pintor', 'Painter')
    +word('Político', 'Politician')
    +word('Policía', 'Policeman')
    +word('Portero', 'Caretaker')
    +word('Profesor', 'Teacher')
    +word('Psicólogo', 'Psychologist')
    +word('Psiquiatra', 'Psychiatrist')
    +word('Recepcionista', 'Receptionist')
    +word('Relojero', 'Watchmaker')
    +word('Reportero', 'Reporter')
    +word('Sacerdote', 'Priest')
    +word('Sastre', 'Tailor')
    +word('Secretario', 'Secretary')
    +word('Soldado', 'Soldier')
    +word('Taquimera', 'Shorthand typist')
    +word('Taxista', 'Taxi driver')
    +word('Técnico', 'Technician')
    +word('Torero', 'Bullfighter')
    +word('Traductor', 'Translator')
    +word('Vendedor', 'Salesman')
    +word('Veterinario', 'Vet')
    +word('Zapatero', 'Shoemaker')