extends /includes/template.pug

append config
  -pageTitle = 'Regular Verbs'

block main
  include /includes/table.pug
    +word('Abandonar', 'Abandon')
    +word('Abolir', 'Abolish')
    +word('Absolver', 'Absolve')
    +word('Absorber', 'Absorb')
    +word('Injuriar', 'Abuse')
    +word('Acceder', 'Accede')
    +word('Acelerar', 'Accelerate')
    +word('Acentuar', 'Accent')
    +word('Aceptar', 'Accept')
    +word('Acusar', 'Accuse')
    +word('Acostumbrar', 'Accustom')
    +word('Adquirir', 'Acquire')
    +word('Actuar', 'Act')
    +word('Sumar', 'Add')
    +word('Dirigir', 'Address')
    +word('Admirar', 'Admire')
    +word('Admitir', 'Admit')
    +word('Adorar', 'Adore')
    +word('Adornar', 'Adorn')
    +word('Avanzar', 'Advance')
    +word('Anunciar', 'Advertise')
    +word('Aconsejar', 'Advise')
    +word('Afirmar', 'Affirm')
    +word('Acceder', 'Agree')
    +word('Permitir', 'Allow')
    +word('Ascender / Cantidad', 'Amount')
    +word('Divertir', 'Amuse')
    +word('Anunciar', 'Announce')
    +word('Molestar', 'Annoy')
    +word('Contestar', 'Answer')
    +word('Excusarse', 'Apologize')
    +word('Aparecer', 'Appear')
    +word('Nombrar', 'Appoint')
    +word('Acercarse', 'Approach')
    +word('Aprobar', 'Approve')
    +word('Arreglar', 'Arrange')
    +word('Llegar', 'Arrive')
    +word('Preguntar', 'Ask')
    +word('Asegurar', 'Assure')
    +word('Asombrar', 'Astonish')
    +word('Atacar', 'Attack')
    +word('Intentar', 'Attempt')
    +word('Assitir', 'Attend')
    +word('Atraer', 'Attract')
    +word('Evitar', 'Avoid')
    +word('Bañarse', 'Bathe')
    +word('Rogar, pedir', 'Beg')
    +word('Creer', 'Believe')
    +word('Pertenecer', 'Belong')
    +word('Culpar', 'Blame')
    +word('Reservar', 'Book')
    +word('Llamar', 'Call')
    +word('Llevar', 'Carry')
    +word('Cobrar', 'Cash')
    +word('Cesar', 'Cease')
    +word('Cambiar', 'Change')
    +word('Comprobar', 'Check')
    +word('Reclamar', 'Claim')
    +word('Limpiar', 'Clean')
    +word('Aclarar, limpiar', 'Clear')
    +word('Trepar', 'Climb')
    +word('Cerrar', 'Close')
    +word('Recoger', 'Collect')
    +word('Peinar', 'Comb')
    +word('Combinar', 'Combine')
    +word('Mandar', 'Command')
    +word('Cometer', 'Commit')
    +word('Comparar', 'Compare')
    +word('Quejarse', 'Complain')
    +word('Componer', 'Componer')
    +word('Ocultar', 'Conceal')
    +word('Considerar', 'Consider')
    +word('Consistir', 'Consist')
    +word('Contener', 'Contain')
    +word('Continuar', 'Continue')
    +word('Copiar', 'Copy')
    +word('Corregir', 'Correct')
    +word('Toser', 'Cough')
    +word('Contar', 'Count')
    +word('Cubrir', 'Cover')
    +word('Cruzar', 'Cross')
    +word('Coronar', 'Crown')
    +word('Llorar', 'Cry')
    +word('Dañar', 'Damage')
    +word('Bailar', 'Dance')
    +word('Amanecer', 'Dawn')
    +word('Engañar', 'Deceive')
    +word('Decidir', 'Decide')
    +word('Declarar', 'Declare')
    +word('Defender', 'Defend')
    +word('Entregar', 'Deliver')
    +word('Desear', 'Desire')
    +word('Despreciar', 'Despise')
    +word('Destruir', 'Destroy')
    +word('Separar', 'Detach')
    +word('Desarrollar', 'Develop')
    +word('Dedicar', 'Devote')
    +word('Devorar', 'Devour')
    +word('Descubrir', 'Discover')
    +word('Desaprobar', 'Disturb')
    +word('Desaprobar', 'Dislike')
    +word('Perturbar', 'Disturb')
    +word('Dividir', 'Divide')
    +word('Arrastrar', 'Drag')
    +word('Dejar caer', 'Drop')
    +word('Secar', 'Dry')
    +word('Ganar', 'Earn')
    +word('Elegir', 'Elect')
    +word('Emplear', 'Employ')
    +word('Incluir', 'Enclose')
    +word('Animar', 'Encourage')
    +word('Terminar', 'End')
    +word('Disfrutar', 'Enjoy')
    +word('Entrar', 'Enter')
    +word('Establecer', 'Establish')
    +word('Estimar', 'Esteem')
    +word('Evocar', 'Evoke')
    +word('Cambiar', 'Exchange')
    +word('Esperar', 'Expect')
    +word('Explicar', 'Explain')
    +word('Estallar', 'Explode')
    +word('Exponer', 'Expose')
    +word('Expresar', 'Express')
    +word('Extraer', 'Extract')
    +word('Fallar', 'Fail')
    +word('Temer', 'Fear')
    +word('Ir por', 'Fetch')
    +word('Llenar', 'Fill')
    +word('Acabar', 'Finish')
    +word('Pescar', 'Fish')
    +word('Ajustar', 'Fit')
    +word('Fijar, Reparar', 'Fix')
    +word('Flotar', 'Float')
    +word('Doblar', 'Fold')
    +word('Seguir', 'Follow')
    +word('Fundar', 'Found')
    +word('Ganar', 'Gain')
    +word('Jugar', 'Gamble')
    +word('Recoger', 'Gather')
    +word('Gobernar', 'Govern')
    +word('Conceder', 'Grant')
    +word('Saludar', 'Greet')
    +word('Guardar', 'Guard')
    +word('Adivinar', 'Guess')
    +word('Manejar', 'Handle')
    +word('Ahorcar', 'Hang')
    +word('Suceder', 'Happen')
    +word('Odiar', 'Hate')
    +word('Calentar', 'Heat')
    +word('Ayudar', 'Help')
    +word('Alquilar', 'Hire')
    +word('Esperar', 'Hope')
    +word('Cazar', 'Hunt')
    +word('Apresurarse', 'Hurry')
    +word('Imaginar', 'Imagine')
    +word('Implicar', 'Imply')
    +word('Importar', 'Import')
    +word('Impresionar', 'Impress')
    +word('Mejorar', 'Improve')
    +word('Incluir', 'Include')
    +word('Aumentar', 'Increase')
    +word('Averiguar', 'Inquire')
    +word('Proponerse', 'Intend')
    +word('Inventar', 'Invent')
    +word('Invitar', 'Invite')
    +word('Planchar', 'Iron')
    +word('Unir', 'Join')
    +word('Bromear', 'Joke')
    +word('Saltar', 'Jump')
    +word('Justificar', 'Justify')
    +word('Patear', 'Kick')
    +word('Matar', 'Kill')
    +word('Besar', 'Kiss')
    +word('Golpear', 'Knock')
    +word('Aterrizar', 'Land')
    +word('Durar', 'Last')
    +word('Reír', 'Laugh')
    +word('Mentir', 'Lie')
    +word('Gustar', 'Like')
    +word('Escuchar', 'Listen')
    +word('Vivir', 'Live')
    +word('Mirar', 'Look')
    +word('Amar', 'Love')
    +word('Bajar', 'Lower')
    +word('Mantener', 'Maintain')
    +word('Casarse', 'Marry')
    +word('Medir', 'Measure')
    +word('Componer', 'Mend')
    +word('Mencionar', 'Mention')
    +word('Mover', 'Move')
    +word('Nombrar', 'Name')
    +word('Notar', 'Note')
    +word('Notar, darse cuenta', 'Notice')
    +word('Numerar', 'Number')
    +word('Obedecer', 'Obey')
    +word('Obligar', 'Oblige')
    +word('Ocupar', 'Occupy')
    +word('Ofrecer', 'Offer')
    +word('Abrir', 'Open')
    +word('Ordenar', 'Order')
    +word('Organizar', 'Organize')
    +word('Empaquetar', 'Pack')
    +word('Pintar', 'Paint')
    +word('Pasar', 'Pass')
    +word('Permitir', 'Permit')
    +word('Colocar', 'Place')
    +word('Jugar, tocar', 'Play')
    +word('Rezar', 'Pray')
    +word('Agradar', 'Please')
    +word('Poseer', 'Possess')
    +word('Practicar', 'Practise')
    +word('Preferir', 'Prefer')
    +word('Preparar', 'Prepare')
    +word('Presentar', 'Present')
    +word('Producir', 'Produce')
    +word('Prometer', 'Promise')
    +word('Proponer', 'Propose')
    +word('Tirar de', 'Pull')
    +word('Castigar', 'Punish')
    +word('Empujar', 'Push')
    +word('Llover', 'Rain')
    +word('Alcanzar', 'Reach')
    +word('Recibir', 'Receive')
    +word('Referir', 'Refer')
    +word('Rehusar', 'Refuse')
    +word('Aliviar', 'Relieve')
    +word('Permanecer', 'Remain')
    +word('Recordar', 'Remember')
    +word('Recordar', 'Remind')
    +word('Quitar', 'Remove')
    +word('Arrendar', 'Rent')
    +word('Reparar', 'Repair')
    +word('Repeat', 'Repetir')
    +word('Replicar', 'Reply')
    +word('Informar', 'Report')
    +word('Suplicar, requerir', 'Request')
    +word('Requerir', 'Require')
    +word('Descansar', 'Rest')
    +word('Volver', 'Return')
    +word('Precipitarse', 'Rush')
    +word('Navegar', 'Sail')
    +word('Ahorrar', 'Save')
    +word('Parecer', 'Seem')
    +word('Afilar', 'Sharpen')
    +word('Gritar', 'Shout')
    +word('Firmar', 'Sign')
    +word('Sonreír', 'Smile')
    +word('Fumar', 'Smoke')
    +word('Sonar', 'Sound')
    +word('Empezar', 'Start')
    +word('Parar', 'Stop')
    +word('Estudiar', 'Study')
    +word('Sufrir', 'Suffer')
    +word('Sugerir', 'Suggest')
    +word('Suponer', 'Suppose')
    +word('Sorprender', 'Surprise')
    +word('Hablar', 'Talk')
    +word('Domesticar', 'Tame')
    +word('Probar', 'Taste')
    +word('Cansar', 'Tire')
    +word('Tocar', 'Touch')
    +word('Probar', 'Test')
    +word('Agradecer', 'Thank')
    +word('Atar', 'Tie')
    +word('Traducir', 'Translate')
    +word('Viajar', 'Travel')
    +word('Molestar', 'Trouble')
    +word('Confiar', 'Trust')
    +word('Probar', 'Try')
    +word('Girar', 'Turn')
    +word('Unir', 'Unite')
    +word('Usar', 'Use')
    +word('Variar', 'Vary')
    +word('Visitar', 'Visit')
    +word('Esperar', 'Wait')
    +word('Caminar, andar', 'Walk')
    +word('Querer', 'Want')
    +word('Lavar', 'Wash')
    +word('Vigilar', 'Watch')
    +word('Pesar', 'Weigh')
    +word('Desear', 'Wish')
    +word('Trabajar', 'Work')
    +word('Preocuparse', 'Worry')
    +word('Herir', 'Wound')
    +word('Murmurar', 'Buzz')
    +word('Comprender', 'Comprehend')
    +word('Intercambiar', 'Swap')
    +word('Comportarse', 'Behave')
    +word('Bendecir', 'Bless')
    +word('Rebotar', 'Bounce')
    +word('Cuidar', 'Care')
    +word('Causar', 'Cause')
    +word('Perseguir', 'Chase')
    +word('Masticar', 'Chew')
    +word('Escapar', 'Escape')
    +word('Examinar', 'Examine')
    +word('Existir', 'Exist')
    +word('Guiar', 'Guide')
    +word('Asustar, espantar', 'Scare')