extends /includes/template.pug

append config
  -pageTitle = 'Shops'

block main
  include /includes/table.pug
    +word('Panadería', 'Bakery')
    +word('Barbería', `Barber's`)
    +word('Tienda de pájaros', `Bird shop`)
    +word('Librería', `Bookstore`)
    +word('Carnicería', `Butcher's`)
    +word('Pastelería', `Cake shop, pastry shop`)
    +word('Tienda de golosinas', `Candy store`)
    +word('Ropa de niño', `Children's wear`)
    +word('Tienda de ropa', `Clothing store`)
    +word('Cafetería', `Coffee shop`)
    +word('Pastelería', `Confectioner's`)
    +word('Lácteos', `Creamery`)
    +word('Lechería', `Dairy store`)
    +word('Fiambrería', `Delicatessen`)
    +word('Tienda de electrodomésticos', `Domestic appliances`)
    +word('Farmacía o doguería', `Domestic appliances`)
    +word('Tintorería', `Dry cleaner's`)
    +word('Agencia inmobiliaria', `Estate agency`)
    +word('Pescadería', `Fish monger's`)
    +word('Floristería', `Florist's`)
    +word('Frutería', `Fruit shop, fruiterer's`)
    +word('Mueblería', `Furniture store`)
    +word('Gasolinería', `Gas station`)
    +word('Verdulería', `Greengrocer's`)
    +word('Almacén', `Grocery store`)
    +word('Peluquería', `Hairdresser's`)
    +word('Ferretería', `Hardware shop`)
    +word('Herboristería', `Herbalist's shop`)
    +word('Heladería', `Ice-cream parlour`)
    +word('Ferretería', `Ironmonger's`)
    +word('Joyería', `Jeweller's`)
    +word('Joyería', `Jewellery store`)
    +word('Quiosco', `Kiosk`)
    +word('Ropa de señora', `Ladies' wear`)
    +word('Lavandería automática', `Ladies' wear`)
    +word('Marroquinería', `Leather goods shop`)
    +word('Centro comercial', `Mall`)
    +word('Mercado', `Market`)
    +word('Ropa de caballero', `Men's wear`)
    +word('Agencia de cambios', `Money exchange`)
    +word('Tienda de música', `Music store, record`)
    +word('Quiosco de periódicos', `Newsstand`)
    +word('Optica', `Optician's`)
    +word('Camisería', `Outfitters`)
    +word('Perfumería', `Perfumery`)
    +word('Tienda de animales', `Pet shop`)
    +word('Farmacia', `Pharmacy`)
    +word('Oficina de correos', `Post office`)
    +word('Zapatería', `Shoe shop`)
    +word('Centro comercial', `Shopping center`)
    +word('Tiendas', `Shops`)
    +word('Tienda de souvenir', `Souvenir shop`)
    +word('Tienda de deportes', `Sports store`)
    +word('Papelería', `Stationery store`)
    +word('Tiendas', `Stores`)
    +word('Supermercado', `Supermarket`)
    +word('Tabaquería', `Tocacconist's`)
    +word('Agencia de viajes', `Travel agency`)
    +word('Verdulería', `Vegetable store`)
    +word('Tienda de videos', `Video store`)