extends /includes/template.pug

append config
  -pageTitle = 'Sports'

block main
  include /includes/table.pug
    +word('Atletismo', 'Athletics')
    +word('Hockey', 'Hockey')
    +word('Tenis de mesa', 'Table tennis')
    +word('Vóleibol', 'Volleyball')
    +word('Skate', 'Skating')
    +word('Fútbol', 'Soccer')
    +word('Balonpié', 'Football')
    +word('Béisbol', 'Baseball')
    +word('Baloncesto', 'Basketball')
    +word('Tenis', 'Tennis')
    +word('Boxeo', 'Boxing')
    +word('Ciclismo', 'Cycling')
    +word('Nado', 'Swimming')
    +word('Esquiar', 'Skiing')
    +word('Hacer snowboard', 'Snowboarding')
    +word('Yate', 'Yatching')
    +word('Bucear', 'Diving')
    +word('Elongación', 'Diving')
    +word('Trote', 'Running')
    +word('Ajedrez', 'Chess')
    +word('Pesca', 'Fishing')
    +word('Montañismo', 'Trepping')
    +word('Carreras', 'Racing')
    +word('Rugby', 'Rugby')
    +word('Polo', 'Polo')
    +word('Golf', 'Golf')
    +word('Billar, pool', 'Billards')
    +word('Bolos', 'Bowling')
    +word('Polo acuático', 'Water polo')
    +word('Ejercicio', 'Exercise')
    +word('Practicar', 'Practise')
    +word('Red', 'Net')
    +word('Set', 'Set')
    +word('Juego', 'Game')
    +word('Cuarto', 'Quarter')
    +word('Medio tiempo', 'Half-time')
    +word('Fuera de juego', 'Off-side')
    +word('Falta', 'Foul')
    +word('Fuera', 'Out')
    +word('Punto', 'Point')
    +word('Tiempo', 'Time')
    +word('Agua', 'Water')
    +word('Jugo', 'Juice')
    +word('Proteína', 'Protein')
    +word('Pausa, tiempo fuera', 'Time-out')
    +word('Comenzar', 'Start')
    +word('Final', 'Finish')
    +word('Comenzar', 'Begin')
    +word('Comienzo', 'Beginning')
    +word('Ronda', 'Round')
    +word('Vuelta', 'Loop')
    +word('Carrera', 'Race')
    +word('Auspiciador', 'Sponsor')
    +word('Guantes', 'Gloves')
    +word('Raqueta', 'Raquet')
    +word('Pelota', 'Ball')
    +word('Pantalón corto', 'Short')
    +word('Polera, remera', 'T-shirt')
    +word('Zapatillas', 'Sneakers')