extends /includes/template.pug

append config
  -pageTitle = 'Universe'

block main
  include /includes/table.pug
    +word('Acuario', 'Aquarius')
    +word('Alba, amanecer', 'Dawn')
    +word('Anochecer, crepúsculo', 'Nightfall, dusk')
    +word('Aries', 'Aries')
    +word('Asteroide', 'Asteroid')
    +word('Bóveda celeste', 'Celestial vault')
    +word('Brillar (el sol)', 'To shine')
    +word('Cáncer', 'Cancer')
    +word('Capricornio', 'Capricorn')
    +word('Cielo', 'Sky')
    +word('Cometa', 'Comet')
    +word('Constelación', 'Constellation')
    +word('Cosmos, universo', 'Cosmos')
    +word('Cuerpo celeste, astro', 'Heavenly body')
    +word('Eclipse', 'Eclipse')
    +word('Escorpión', 'Scorpio')
    +word('Espacio', 'Space')
    +word('Estrella', 'Star')
    +word('Estrella fugaz', 'Shooting star, falling star')
    +word('Estrella polar', 'Polestar')
    +word('Galaxia', 'Galaxy')
    +word('Géminis', 'Gemini')
    +word('Globo', 'Globe')
    +word('Júpiter', 'Jupiter')
    +word('Leo', 'Leo')
    +word('Libra', 'Libra')
    +word('Luna', 'Moon')
    +word('Luna creciente, cuarto reciente', 'Crescent moon')
    +word('Luna llena, plenilunio', 'Full moon')
    +word('Luna menguante, cuarto menguante', 'Waning moon')
    +word('Luna nueva', 'New moon')
    +word('Marte', 'Mars')
    +word('Mercurio', 'Mercury')
    +word('Meteoro', 'Meteor')
    +word('Neptuno', 'Neptune')
    +word('Órbita', 'Orbit')
    +word('Piscis', 'Pisces')
    +word('Planeta', 'Planet')
    +word('Plutón', 'Pluto')
    +word('Puesta del sol', 'Sunset')
    +word('Rayos del sol', `Sun's rays`)
    +word('Sagitario', `Sagittarius`)
    +word('Salida del sol', `Sunrise`)
    +word('Satélite', `Satellite`)
    +word('Saturno', `Saturn`)
    +word('Signos del zodiaco', `Signs of the zodiac`)
    +word('Sistema solar', `Solar system`)
    +word('Sol', `Sun`)
    +word('Tauro', `Taurus`)
    +word('Tierra', `Earth`)
    +word('Universo', `Universe`)
    +word('Urano', `Uranus`)
    +word('Venus', `Venus`)
    +word('Vía láctea', `Milky way`)
    +word('Virgo', `Virgo`)