.main-header {
  width: 100%;
  min-height: 60vh;
  display: flex;
  // background-color: rgba($secondary-color, 0.9);
  // background-image: linear-gradient(to right, var(--secondary-color), var(--third-color));
  justify-content: space-between;
  align-items: center;
  background-size: 100% 100%;

  &__logo {

  }

  &__title {
    color: #000;
  }
}

/* .container-logo {
  margin-left: var(--gutter);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    height: 100%;
  }
} */

.main-menu {
  $pad-mar: 13px;

  margin: $pad-mar 0;
  display: flex;
  align-items: center;
  font-size: $nav-size;

  &__link {
    padding: $pad-mar;
    color: var(--primary-color);
    text-align: center;
    opacity: .6;
    transition: opacity .3s;

    &:hover {
      background-color: var(--secondary-color);
      opacity: 1;
    }
  }
}