.main-header {
  width: 100%;
  min-height: 60vh;
  background-size: cover;
  background-position: left;

  &__menu {
    padding: 2rem;
    display: flex;
    align-items: center;

    li:first-child {
      margin-right: auto;
    }
  }

  .about,
  .contact {
    --bd-bottom-w: 0px;

    font-size: var(--h2);
    color: var(--primary-color-alpha);
    color: #fff;
    border-bottom: var(--bd-bottom-w) solid currentColor;
    transition: all .15s;

    &:hover {
      --bd-bottom-w: 2px;
    }
  }

  .about {
    margin-right: 1rem;
  }

  &__logo {
    color: var(--primary-color);
    font-size: 1.3rem;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: 2em 2em 2em rgb(250, 130, 130);

    span {
      font-size: 1.5rem;
      color: var(--third-color);
      border-bottom: 2px solid;
      letter-spacing: normal;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
  }

  &__title {
    color: var(--primary-color);
    color: #fff;
    font-size: 2.5rem;
    @include animTop;
  }

  &__welcome {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-style: italic;
    color: #fff;
  }
}